[2013-06-11 00:47] klobucar opened #3 "Race conditions in gnatsd"
The race profiler found the following race conditions in the gist below.

`go test -race ./...` is the command I used to generate the output.

https://gist.github.com/klobucar/88b534fa2749a8ae8bc6

[2013-06-25 20:26] krobertson opened #5 "gnatsd HTTP monitoring has some issues"
First, gnatsd takes a parameter to use as the HTTP monitoring port, however it doesn't actually use the passed parameter.  The port is hardcoded to 6062.

Second, gnatsd always starts the HTTP server, but only registers the handlers for the server if the monitoring port is specified.  The goroutine to launch the HTTP monitoring should be moved within the if statement to see if a monitoring port wa

[2013-07-30 20:36] derekcollison opened #6 "Support PID file."
We need to support PID files.

[2013-07-30 20:37] derekcollison opened #7 "Syslog support"
Support Syslog.

[2013-07-30 20:39] derekcollison opened #8 "Daemon Mode?"
Should we support daemon mode?

[2013-07-30 20:40] #3 closed, assigned to derekcollison

[2013-07-31 02:46] #5 closed, assigned to derekcollison

[2013-08-03 00:16] #6 closed, assigned to derekcollison

[2013-08-03 00:17] derekcollison opened #11 "Support log files."

[2013-08-03 00:17] #11 closed, assigned to derekcollison

[2013-10-21 08:59] fd opened #13 "Extract config parser?"
Have you considered extracting the config package into it's own project. The format of the files appears to be really good.

[2013-10-23 16:42] raff opened #14 "gnatsd crashes on Windows i386 (and probably on any Intel 32bit platform)"
The crash happens as soon as a client connects, and it's a null pointer exception on the atomic add:

// Lock should be held
func (c *client) initClient() {
        s := c.srv
        c.cid = atomic.AddUint64(&s.gcid, 1) //////// crash here

There are no null pointers but AddUint64() crashes if the pointer is not 64bit aligned ("fix" added on March 12: https://code.google.com/p/go/source/detail?r=

[2013-10-31 21:57] srid opened #16 "How to actively connect to a cluster port?"
It looks as if the only way to register new routes is to add them to the config file and then restart the main gnatsd server (that which was launched with this sample file).

Reading the source (the [routeAcceptLoop](https://github.com/apcera/gnatsd/blob/master/server/route.go#L257) function), I understand that new routes (gnatsd servers) can actively connect to the cluster port to register themse

[2013-11-06 03:45] srid opened #17 "panic when connecting using ruby nats"
the dea_ng nats client can crash gnatsd, only when it is run with cluster configuration specified:

[code]

i'll see if there is a direct repo for this.

[2013-11-13 00:01] #13 closed, assigned to nobody

[2013-11-13 00:02] #16 closed, assigned to nobody

[2014-01-07 22:37] dliebreich opened #18 "publishes "foo.bar" messages to "foo" subscribers (but not first subscriber)"
to reproduce:
1. start gnatsd locally: `gnatsd -p 4223`
2. publish a message: `nats-pub "foo.bar" -s nats://nats:nats@localhost:4223`
3. start subscriber: `nats-sub "foo" -s nats://nats:nats@localhost:4223`
4. publish the message again: `nats-pub "foo.bar" -s nats://nats:nats@localhost:4223`

expected: the message in step 4 does not show up

actual: the message in step 4 shows up

interesting note

[2014-01-08 19:33] vito opened #20 "What guarantees are made by clustered mode?"
It would be nice to know things like message order and delivery guarantees. For example, if there are 300 gnatsd nodes and I send a STOP and a START to subject X to two different nodes, will subscribers to X receive them in some "order"?

[2014-01-10 06:35] #20 closed, assigned to derekcollison

[2014-01-19 13:13] brucewoo opened #21 "remove route subscribe when close client connection."
client.go:

[code]

[2014-01-31 20:24] vito opened #22 "Published messages are sent to consumers twice, once, or zero times when sent through certain members"
This is on master, as of 6eb1dd247c4ca8217c3f060f07eef4e0ab42c625.

Buckle up.

We're seeing weird behavior when sending to a particular machine in our cluster of two.

Three clients subscribe to `diego.staging.start`. One is just `nats-sub '>'` for debugging. The others are actual consumers taking in messages and handling them. They normally subscribe with a queue, but we collected data with and

[2014-02-01 21:09] hotei opened #23 "comment typo"
Know it's a nit-pic, but line 27 of hash.go should reference "Fowler-..." not "Fowle-..."

Thanks for sharing the package.  I was looking for something EXACTLY like this.

[2014-02-03 00:01] #23 closed, assigned to nobody

[2014-02-07 03:23] #18 closed, assigned to nobody

[2014-02-07 03:24] #22 closed, assigned to nobody

[2014-02-07 03:25] #21 closed, assigned to nobody

[2014-03-20 03:13] lipengyuntian opened #25 "does gnatsd support cluster now?"
if gnastd support cluster ,which version should be updated for ruby client ?thanks

[2014-03-20 06:39] #25 closed, assigned to nobody

[2014-03-27 02:23] lipengyuntian opened #26 "is there a test contrast for ruby nast server vs go nast server"
for example go server run 30% faster than ruby server

[2014-03-27 05:21] #26 closed, assigned to nobody

[2014-04-04 09:38] lipengyuntian opened #27 "i have do some test for ruby nats server vs go nats server"
i use your benchmark/pub.rb and sub.rb for test.

after my test ,i find that
1.when message's byte length larger than 3k ,there is no different between ruby nats server and go nats server in cpu usage.but less than 3k,go nats server is more better than ruby nats server.i will continue to test this and report.
2.ruby nats server use 20M memory vs go natst server use 3M
3.when i change message nums

[2014-04-09 10:01] lipengyuntian opened #28 "gnatsd's cpu occupy will be almost 100%"
when i pub 1000000 messages which size is  1kB ,if there no sub .

[2014-04-10 04:02] #27 closed, assigned to nobody

[2014-04-24 23:16] emalm opened #29 "Increasing memory usage with clustered NATS servers"
The Cloud Foundry Runtime team has been using gnatsd in clustered mode again in [cf-release](https://github.com/cloudfoundry/cf-release), and we've noticed increased memory usage on some of the nodes in the cluster. Specifically, when we have two nodes in the cluster, we're seeing the memory usage on one of the nodes increase roughly linearly over time. We've seen this in at least three different

[2014-04-30 21:21] #29 closed, assigned to nobody

[2014-04-30 21:21] #28 closed, assigned to nobody

[2014-04-30 21:22] #17 closed, assigned to derekcollison

[2014-07-06 00:34] tylertreat opened #33 "Performance question"
I'm working on some benchmarks for various messaging systems by measuring throughput. I've run into a strange problem where messages just stop being received after a certain point with a single publisher and consumer. For example, if I send 2000 messages consecutively, I don't receive any messages after 805.

Am I hitting a max queue size? 805 doesnt seem like very many messages, especially when t

[2014-07-06 06:24] #33 closed, assigned to nobody

[2014-07-25 12:13] JesusIslam opened #35 "Load Balancing Method?"
What load balancing method does gnatsd use?

Is it a simple round-robin like zmq?

[2014-08-04 07:57] wulonghui opened #38 "Persistence"
Does gnatsd support messaging persistence, if not, how can I implement it.

[2014-08-05 01:46] #38 closed, assigned to nobody

[2014-08-26 21:07] ericpromislow opened #40 "How does one test this code?"
Please excuse if it's obvious, but I haven't done much with go,
don't know the conventions beyond setting GOROOT and
GOPATH, and running 'go build'.

[2014-08-27 00:39] #40 closed, assigned to nobody

[2014-09-10 16:41] fraenkel opened #42 "Can you release a new version of gnatsd?"
We would like Cloud Foundry to move to the latest code now that we are on Go 1.3.  We would like to be on a tagged release rather than master.

[2014-09-10 18:23] #42 closed, assigned to nobody

[2014-09-12 00:45] fraenkel opened #43 "Multi-node gnatsd fails to reconnect"
Just wanted to give you a heads up.

We have hit a certain situation where the connection between 2 gnatsd breaks and fails to reconnect.
I am running more tests to identify the exact situation that causes this behavior.
I have already run across a few issues, so of which I will provide pull requests for.
1. Add routes and remotes to varz.  This just helps us understand when we are in a bad way.
2

[2014-09-14 03:13] #43 closed, assigned to nobody

[2014-09-15 11:51] mcuadros opened #48 "wire protocol?"
Where i can find the wire protocols specs?
Its needed for any who want build a driver for unsupported languages (python, php, etc)

[2014-10-08 01:21] sasha-s opened #55 "Enable Sourcegraph"
I want to use [Sourcegraph code search and code review](https://sourcegraph.com) with gnatsd. A project maintainer needs to enable it to set up a webhook so the code is up-to-date there.

Could you please enable gnatsd on @Sourcegraph by going to https://sourcegraph.com/github.com/apcera/gnatsd and clicking on Settings? (It should only take 15 seconds.)

Thank you!

[2014-10-08 03:06] #55 closed, assigned to nobody

[2014-10-10 09:32] mcuadros opened #57 "Slow Consumer policy"
Can you explain the behaviour of a " Slow Consumer"? Why the connection is closed?
https://github.com/apcera/gnatsd/blob/7d820b762fbcc58264b7d688bd869e5949e8d175/server/client.go#L625

I am working in a stress tool and when i send 25k message to a client then the client becomes a slow consumer (not slow just busy) and the connection is closed.

https://github.com/mcuadros/natstress

Regards

[2014-10-13 07:04] #57 closed, assigned to nobody

[2014-10-28 19:12] #7 closed, assigned to derekcollison

[2014-10-29 19:06] derekcollison opened #60 "Data Race"
https://travis-ci.org/apcera/gnatsd/builds/39413956#L358

[2014-10-29 19:07] #8 closed, assigned to derekcollison

[2014-10-30 09:13] mcuadros opened #61 "Dockerfile not works"
The current Dockerfile fails when you try to run it because the [`docker`](https://github.com/apcera/gnatsd/blob/master/docker/Dockerfile#L8) bin not is available at the ` google/golang:1.3`

[code]

Why make this complex nested Dockerfile? I made my own as follows:
[code]

And works like a charm

[2014-11-08 16:11] derekcollison opened #62 "/vaz mem is 0 on docker/linux"

[2014-11-16 14:11] ondrap opened #63 "Crash gnatsd"
I tried to create a Haskell NATS binding and made gnatsd crash quite easily - I happened to send a command in several TCP packets. TCP is a stream oriented protocol, so that should be perfectly correct. However, I can crash NATS quite easily. This program causes parse errors:

[code]

And this one crashes gnatsd:

[code]

BTW: the protocol design isn't nice. The INBOXes should not be assigned rand

[2014-11-16 17:00] #63 closed, assigned to nobody

[2014-11-17 12:51] Lazin opened #64 "Is it possible to embed gnatsd into my application?"
I'm working on distributed database and want to use NATS as a messaging middleware. The problem is that gnatsd is a separate deployment step. Client needs to deploy gnatsd first and only after that he or she will be able to deploy my system. I want to embed it into my application so client can only deploy once.

Another point is that gnats endpoints list will be managed using distributed configura

[2014-11-17 15:23] #64 closed, assigned to nobody

[2014-12-02 00:52] derekcollison opened #68 "network reporting for 0.0.0.0"
Startup logs the bound network interface but prints out 0.0.0.0, should print out resolved addr.

[2014-12-02 05:46] #68 closed, assigned to derekcollison

[2015-01-08 00:59] derekcollison opened #70 "Color syntax on logs"
This should not be present when redirecting to a file.

[2015-01-08 14:42] mcuadros commented on #70
+1

[2015-01-08 15:06] derekcollison commented on #70
There are some other bugs in the logging stuff, should be fixed today or tomorrow.

[2015-01-23 10:39] BinaryTweedDeej commented on #70
The code to check whether STDERR is being redirected doesn't work for me on 64 bit Windows, running either through MinGW or the MS DOS command prompt.

[code]

[2015-01-23 15:10] derekcollison commented on #70
Thanks will take a look. Is the gnatsd executable also 64bit compiled?

[2015-02-05 18:28] derekcollison opened #71 "Client Types - Language"
Be good if clients starting sending type information as well as names (e.g. Go, Node, Java, Ruby)

[2015-02-09 07:34] thedrow opened #73 "Support durable messages for disaster recovery"
Most message queues have durable messages for a good reason. If something happens to a machine you can turn one of the replicated nodes into a primary node (the process is known as failover and is implemented in gnatsd if I understand correctly).
I suggest in a cluster a node can have to modes: primary and slave.
slaves are write only, they dedicate all their resources to writing as many messages

[2015-02-09 07:42] thedrow opened #74 "Server documentation is sparse"
There's no troubleshooting section and no clustering tutorials.

[2015-02-12 09:36] maxired opened #76 "Priority over Wildcards ?"
Hi,

Is there any mechanism for sending a message to a node who listen specificly to a topic, but if nobody has subscribed to this specifi topic, then we will try to query subscribers with wildcard.

Bellow is desired behaviour :

[code]
Desired output :
[code]

[2015-02-22 23:30] jfmatth opened #77 "Windows - runtime error - invalid memory pointer"
windows 7, 64-bit, go v1.42, current and 1.4 branch of gnats fails with following:

[code]

Information about windows, go and git branch

[code]

[2015-02-23 00:10] jfmatth commented on #77
Interesting point, if I specify -l (log option), the error goes away.

[2015-02-25 06:54] franklinwise commented on #74
The performance numbers on [bravenewgeek.com](http://www.bravenewgeek.com/tag/nsq/) look awesome.  Really interested in using the platform, however, some basics on how clustering works and some key points about running the servers in production would be really helpful.

[2015-02-25 07:13] franklinwise commented on #74
This [slide share](http://www.slideshare.net/derekcollison/nats-a-new-nervous-system-for-distributed-cloud-platforms) is a helpful start

[2015-03-05 10:25] reikje commented on #48
Any news on this :)

[2015-03-17 05:25] levhuan commented on #77
Can you include all the command line options that caused the problem to occur? Did you redirect/close stderr before calling gnatsd?

[2015-03-17 05:27] jfmatth commented on #77
The command I put into the ticket has the original command that caused the error.  No, I did not redirect or close stderr before running gnatsd

HTH

[2015-03-22 18:09] #77 closed

[2015-03-23 15:18] jfmatth commented on #77
thank you for fixing this :)

[2015-03-25 14:41] webu2014 opened #81 "How to stop an embedded server"
Once gnatsd is embedded and running in a different routine. How do you stop the server so that the program can exit? I saw a previous post on how to run a gnatsd server:

https://github.com/apcera/gnatsd/issues/64

[2015-03-25 15:54] krobertson commented on #81
After you start the server, keep the server object around and call Shutdown() on it to stop the server.

[2015-03-25 15:58] krobertson commented on #73
The design of NATS is specifically the opposite of things like guaranteed delivery and durable messages. With NATS, those kind of needs are placed upon the publisher and consumer rather than inherited by the transport.

[2015-03-25 15:58] #73 closed

[2015-03-25 16:00] #61 closed

[2015-04-01 07:32] parkerkane opened #82 "go test fails if port 4242 is already taken"
If port 4242 is already bind by other software test server does not fail because it can't use that port.

[code]

## Details
[code]

[2015-04-01 07:38] parkerkane commented on #82
Seems "bug" is more in userside :)

In my computer port 4242 is already taken. After I changed port in cluster.conf file all worked just fine.

[2015-04-13 16:33] nguyendangminh opened #84 "Error occurs if queue name contains white space"
Hi,
If the queue name contains white space, e.g. "job worker", the gnatsd will return an error "processSub Parse Error". There's nowhere in the document mentions queue name.
[code]

[2015-04-17 17:17] composer22 opened #85 "Docker go get will need an additional flag for 1.4x+"
If you are planning to upgrade the docker build script to utilize 1.4x golang compiles, you will most likely need to add an additional flag to the go get command:

from

RUN CGO_ENABLED=0 go get -a -ldflags '-s' github.com/apcera/gnatsd

to

RUN CGO_ENABLED=0 go get -a -ldflags '-s' **--installsuffix cgo** github.com/apcera/gnatsd

Although I didn't test this with your code, I did use your build s

[2015-04-25 19:55] yonah-codefresh commented on #74
+1

[2015-04-27 17:51] bjflanne commented on #74
Hi all,

I am on the Apcera team, and would value your input on what sort of documentation would be useful to you. Would also be interested to learning more about what/how you are using NATS for. Can you drop me a brief email on both to brian at apcera dot com?

Cheers

Brian

[2015-05-04 16:29] joeblew99 commented on #35
+1
back pressure semantics would be awesome BTW. I use Kafka for my stuff, but want to change to Nats. Having back pressure semantics would be enough to swap

[2015-05-05 15:53] bjflanne commented on #35
Joe - can you please expand on the specific use case scenario you require back pressure semantics for? If you can provide specific details I'd like to take a look at how we might be able to make that work for you. If you prefer to send me an email on the specifics vs posting here, please email brian@apcera.com

Thanks - look forward to hearing from you/speaking soon.

[2015-05-15 07:50] mackross commented on #74
@bjflanne The config could do with a full explanation for each parameter. There is also not a lot of information around clustering unless you read through the groups list. It would also be nice to see some pub/sub resources -- perhaps some typical problems you solve at apcera using gnats. How do you build robust distributed systems with at-most-once delivery?

[2015-05-20 20:55] bjflanne commented on #74
@mackross Thanks for your feedback on what might be more helpful. This is much appreciated. What does your architecture look like? (what sort of systems do you have, what do they do, and what are you trying to accomplish with distributed messaging etc.?). If you can provide me some more details would be great to understand that and discuss best practices and where NATS might be able to help. If yo

[2015-05-20 21:05] bjflanne commented on #74
@franklinwise thanks for posting the slide share. These slides accompanied a presentation at SCALE 13x by our founder (@derekcollison): https://www.youtube.com/watch?v=5GcAgMPECxE

Great for understanding why NATS was created, where it excels, what the inherent design principles are, why it is different to other messaging systems, and all that good stuff. That being said, if you have questions or

[2015-05-22 16:43] franklinwise commented on #74
@bjflanne - glad to help. I'm focused on some other projects currently, however, I will swing back around to NATS probably in a month.

[2015-06-03 01:48] alvarolm commented on #57
is there a way to adjust the timeout that makes throw out the "slow consumer" err?

[2015-06-15 20:14] derekcollison commented on #60
https://travis-ci.org/apcera/gnatsd/jobs/66923669

[2015-06-15 20:15] derekcollison commented on #85
Thanks I saw that as well earlier on. Will do an upgrade to Docker image this week so will address then.

[2015-06-15 20:16] derekcollison commented on #84
Yes we can be better at that for sure, queue names cannot contain spaces.

[2015-06-15 20:17] derekcollison commented on #82
The tests use some known port numbers, if they are inuse, yes the tests will fail.

[2015-06-15 20:17] #82 closed

[2015-06-15 20:18] #81 closed

[2015-06-15 20:20] derekcollison commented on #76
If the wildcard matches it will be considered a valid subscriber along with the direct. There is not a mechanism to prioritize or segregate traffic between valid subscriptions.

[2015-06-15 20:20] #76 closed

[2015-06-15 20:21] derekcollison commented on #74
I am working on NATS all this week, and agree docs are not where they need to be. Will be working on them. Thanks.

[2015-06-15 20:22] derekcollison commented on #48
@reikje Are you looking for a protocol doc, that correct?

[2015-06-15 20:22] #35 closed

[2015-06-15 20:33] derekcollison commented on #60
https://travis-ci.org/apcera/gnatsd/builds/66927045

[2015-06-16 00:47] derekcollison commented on #60
https://travis-ci.org/apcera/gnatsd/builds/66957488

[2015-06-17 18:23] composer22 opened #86 "Minor Suggestion: cacheline padding"
type stats struct {
	inserts   uint64
	removes   uint64
	matches   uint64
	cacheHits uint64
	since     time.Time
}

For your consideration: cacheline padding. Not tested.

ex:

type stats struct {
        cachepad1 [8]int64
	inserts   uint64
        cachepad2 [7]int64
	removes   uint64
        cachepad3 [7]int64
	matches   uint64
        cachepad4 [7]int64
	cacheHits uint64
        cachepad5 [7]in

[2015-06-20 06:25] tylertreat opened #88 "Sublist multithreaded performance"
I noticed that the `Sublist` tree which manages subscriptions uses a mutex for thread-safety, so every lookup and insert locks the tree. While I haven't looked through the gnatsd code extensively to see what the workload might normally look like, I imagine there is a lot of lock contention on the tree.

I recently implemented a similar, [lock-free mechanism for managing subscriptions](https://gith

[2015-06-20 19:31] derekcollison commented on #88
Tyler, will enjoy taking a look. Sublist has needed some love for awhile, since Go maps now are so much faster than when Go was in development. I also agree the locking was crude at best, but most of the workload patterns are for high throughput reads and less updates/inserts so was happy with the performance with the front end caching mechanism.

I will definitely take a deep dive into yours. The

[2015-06-20 20:15] derekcollison commented on #88
I have used the generation trick before in extreme high performance and concurrent data structures for snapshotting, etc as you did. I have also used dirty bits etc..

[2015-06-20 21:29] tylertreat commented on #88
There's still a lot of optimization I want to do with matchbox, both performance and memory. The Ctrie-style structure is not very compact when applied to this type of trie. I've thought about ways to roll up the branches and expand them lazily when necessary or maybe using a bloom filter to avoid descending the trie when there are no matches. The wildcards throw a pretty big wrench in a lot of th

[2015-07-20 21:31] derekcollison commented on #85
Fixed in latest.

[2015-07-20 21:31] #85 closed

[2015-07-20 21:32] derekcollison commented on #71
This is present and updated for most major clients.

[2015-07-20 21:32] #71 closed

[2015-07-20 21:50] derekcollison commented on #88
Wildcards are the hard part for sure. By the way, you can cache empty results as well, anything that is a high rate, including no results. Been thinking about another way to possibly optimize. Will be fun to play with when I get some free time.

[2015-07-22 01:11] wallyqs opened #91 "Pending accounting for ConnInfo"
Add client connections pending size for monitoring them in the `/connz` endpoint.
Already have a placeholder but not being tracked at the moment:
https://github.com/nats-io/gnatsd/blob/4dd23e0f2d727e02a8ec7c3085edeeffcc59fdd7/server/monitor.go#L38

[2015-07-28 17:46] mrkaspa opened #93 "Is there a client for erlang/elixir ?"

[2015-07-31 10:02] h12w opened #94 "Change the project description to optimize searching in Github"
I was trying to search "message queue" built with Golang on Github but only get a few client wrappers (ordered by most stars). Later a friend on social network recommends NATS and I realize what's wrong with the searching:

Please just change the project description to something like: "NATS: an open-source, high-performance, lightweight cloud message queue system".

[2015-08-01 20:19] dgryski commented on #60
Since the move apcera -> nats-io, all these links are broken.

[2015-08-02 07:02] dgryski opened #95 "MaxPayload size is ignored"
The max_payload configuration option is ignored when parsing.

This opens up two DoS vectors that cause crashes in gnatsd.

1) `PUB o 680444720440`
produces the following panic() output:
[code]

and 2) `PUB 0 8000000000`

produces an out-of-memory error on the same line

[2015-08-02 07:07] dgryski commented on #95
This issue was found by https://github.com/dvyukov/go-fuzz testing `server/parser.go` using the existing tests as a seed corpus.

[2015-08-03 01:05] derekcollison commented on #60
Yes I realize that but have most of these addressed. Will do a run through to recreate some on Travis, etc. Thanks though for pointing it out.

[2015-08-03 19:59] derekcollison commented on #95
Nice! I have some time this week, will address. Appreciate the effort.

[2015-08-04 11:33] cosmicnag commented on #93
+1

[2015-08-04 21:09] bjflanne commented on #93
There is not currently, but many clients have been added recently. Lots of great community activity on clients ongoing. How do you use erlang currently, and how are you using NATS (or expecting to use NATS)?

[2015-08-06 03:00] bjflanne commented on #93
Would you both mind voting in our client support survey? Just takes a quick second, would like to make sure to include your input:

https://www.surveymonkey.com/r/JGZRYWN

[2015-08-06 07:22] derekcollison commented on #95
This is fixed with this commit, 075529e2fef98b295ba6e45a3f36d5ebd99b21a2

[2015-08-06 07:22] #95 closed

[2015-08-06 14:38] derekcollison commented on #57
Currently no, but am looking into it. The head for master does have the ability to adjust how much we buffer before we enter the slow consumer state, but not the write timeout parameter.

[2015-08-08 03:20] wallyqs commented on #91
Added on 0.6.2: https://github.com/nats-io/gnatsd/blob/v0.6.2/server/monitor.go#L121

[2015-08-08 03:20] #91 closed

[2015-08-13 00:15] cmfatih opened #100 "jsonp support for monitoring routes?"
@derekcollison : Would you mind if I add JSONP support to monitoring routes and make a PR? That would help me to improve the [tool](https://github.com/cmfatih/natsboard) that I'm working on... I didn't want to waste time if you are not okay with it.

Update: Note that I want to put more stuff to client side but can't do it due to CORS. That's the reason for JSONP.

[2015-08-13 01:15] derekcollison commented on #100
Just to /routez?

On Wed, Aug 12, 2015 at 5:15 PM -0700, "Fatih Cetinkaya" <notifications@github.com> wrote:

@derekcollison : Would you mind if I add jsonp support to monitoring routes and make a PR? That would help me to improve the tool that I'm working on... I didn't want to waste time if you are not okay with it.

—
Reply to this email directly or view it on GitHub.

[2015-08-13 01:51] cmfatih commented on #100
All routes; `/varz`, `/connz`, `/routez` and `/subscriptionsz`

[2015-08-13 04:27] derekcollison commented on #100
Send a PR, sounds fine to me.. What application is this for?

On Wed, Aug 12, 2015 at 6:51 PM, Fatih Cetinkaya <notifications@github.com>
wrote:

[2015-08-13 04:39] cmfatih commented on #100
Cool, will send a PR in a few days. It is for the tool that I'm working on. https://github.com/cmfatih/natsboard

[2015-08-13 11:54] repejota commented on #100
+1

[2015-08-13 15:18] derekcollison commented on #100
Nice!

On Wed, Aug 12, 2015 at 9:39 PM, Fatih Cetinkaya <notifications@github.com>
wrote:

[2015-08-14 00:25] pkieltyka commented on #100
Have a look at https://github.com/pressly/gohttpware/tree/master/jsonp for a Jsonp middleware that stays out of the way and is triggered by the content type. It's my code, feel free to copy / augment if it helps

[2015-08-14 00:47] cmfatih commented on #100
@pkieltyka : It would be awesome if you take over this task and deliver since you have already experience with it. What you say? :)

[2015-08-14 00:50] pkieltyka commented on #100
Sure, no prob. I'll submit PR tomm

[2015-08-14 01:03] cmfatih commented on #100
Sound awesome to me :+1:

[2015-08-14 01:55] cmfatih commented on #100
@pkieltyka : I just made a PR for it. It was more easier than I thought. Somehow I always hesitate about my golang skills :)

Can you check it and let me know whether I'm naif or not? https://github.com/nats-io/gnatsd/pull/103/files

I locally test it and it works for;

[code]

[2015-08-18 19:19] byrnedo opened #105 "Any chance of an armV7 build for raspberry pi 2?"
If it wasn't too much hassle? :)

[2015-08-19 01:39] derekcollison commented on #105
I would need to secure one to build and test, but sounds reasonable and aligns with IOT ambitions.

[2015-08-19 01:45] derekcollison commented on #105
ok ordered a kit, should be here later this week.

[2015-08-19 13:28] pkieltyka opened #106 "proposal: gnatsd as embedded package for my Go services"
Hi guys,

Have you considered supporting `gnatsd` to be compiled into a Go web service as a package, in addition to currently as a standalone server? Here are my reasons:

1. The simplicity and lightweighted-ness of gnatsd makes it a perfect toolkit for building distributed systems out of many services inter-communicating over a network-wide CSP. I believe like a service takes HTTP as first class,

[2015-08-19 14:39] byrnedo commented on #105
Great, looking forward to it!

[2015-08-19 20:47] derekcollison commented on #106
We already support this today. If you look at the tests for the Go client
inside of gnatsd repo, you see how we embed the server as a Goroutine
inside of the test quite. You still connect via TCP currently, but it is
running inside of a single process.

https://github.com/nats-io/gnatsd/blob/master/test/test.go#L46

Its essentially Start() and Shutdown(), just do the start inside a new Go
routine.

[2015-08-19 21:11] pkieltyka commented on #106
ah, good to hear. I prefer the `cmd/` pattern for cli binaries and having the core package at the root, but thats just subjective stuff. I'll give it a shot, thanks.

[2015-08-19 21:27] krobertson commented on #106
To build on @derekcollison's comment, we also do this in all our internal test suites that use NATS, and some of our own tooling that is a single process also embeds gnatsd as a simple way for separate packages to cross communicate.

[2015-08-19 21:38] pkieltyka commented on #106
right on! :metal:

[2015-08-19 22:50] derekcollison commented on #106
Happy to take a PR on the cmd/ pattern..

On Wed, Aug 19, 2015 at 2:11 PM, Peter Kieltyka <notifications@github.com>
wrote:

[2015-08-20 05:01] chendo commented on #93
+1

[2015-08-20 08:25] lostz opened #107 "add AllClients functions to show all clients"
func (s *Server) AllClients() map[uint64]*client {
	s.mu.Lock()
	defer s.mu.Unlock()
	return s.clients
}

func (c *client) Addr() string {
	return c.nc.RemoteAddr().String()

}

add those functions to show client detail as monitor

[2015-08-20 13:59] derekcollison commented on #107
Not following, does /connz not do what you need?

[2015-08-21 02:28] pkieltyka opened #108 "node discovery"
I've seen in TODO you guys are planning to add gossip-based node discovery. Have a look at: https://github.com/hashicorp/memberlist  .. this is used in serf and consul for a while now

[2015-08-21 12:28] derekcollison commented on #108
I am aware of that algorithm that they use, I have some ideas on how we will accomplish what we need both from a server to server perspective and then utilizing updating INFO messages to the clients as well.

[2015-08-21 13:11] pkieltyka commented on #108
Solid

[2015-08-23 20:03] derekcollison opened #111 "max_pending_size not set in /varz"
Seems to not be set properly.

[2015-08-23 20:26] #111 closed

[2015-08-23 20:26] derekcollison commented on #107
lmk if I am misunderstanding. Thanks..

[2015-08-23 20:58] derekcollison commented on #105
I received the kit.. Will play with it soon after the release today..

[2015-08-23 20:59] #100 closed

[2015-08-23 20:59] derekcollison commented on #94
Is it important to have the word "queue"?

[2015-08-23 21:00] #84 closed

[2015-08-23 21:01] derekcollison commented on #70
I will get the next version running properly on windows with 1.5. Stay tuned, sorry for the delay..

[2015-08-23 21:01] #62 closed

[2015-08-23 21:01] #60 closed

[2015-08-23 21:01] derekcollison commented on #48
We will start creating much better docs, thanks..

[2015-08-23 21:01] #48 closed

[2015-08-24 01:58] h12w commented on #94
I have noticed that the description has been improved since I submitted the issue.

I think it depends on what key words people are searching. If people are searching for "messaging system", the description is good enough now, but if "message queue" is searched, gnatsd still cannot be found.

[2015-08-24 05:46] derekcollison commented on #105
FYI, fun geeking out tonight, got a Raspberry Pi re-imaged and booted without a keyboard or mouse or monitor, got wifi working and installed Go1.5 which needs a bootstrap version of Go1.4 that is cross compiled first on the Mac.. ;) Will try to get gnatsd running soon..

[2015-08-26 05:36] derekcollison commented on #105
Just builds fine under 1.4.2..

![image](https://cloud.githubusercontent.com/assets/90097/9486249/a0a87ce8-4b79-11e5-9b29-cc261723b396.png)

[2015-08-26 06:24] byrnedo commented on #105
Well, I have a confession to make, it did build fine for me too ( I built
go from source on the pi ) and I'm using it for a pet project. I thought it
would be night to be able to just grab the binary from the website instead
of having to build it manually. In my case I'm using some nodejs clients so
would have been no need to have go on the system.

On 26 August 2015 at 07:36, Derek Collison <noti

[2015-08-26 06:30] derekcollison commented on #105
Understood, and I may upload it, stay tuned! Thanks for feedback..

On Tue, Aug 25, 2015 at 11:24 PM, Donal Byrne <notifications@github.com>
wrote:

[2015-08-26 06:36] byrnedo commented on #105
Thanks!

[2015-08-26 15:05] derekcollison commented on #105
https://github.com/nats-io/gnatsd/releases/tag/v0.6.6

[2015-08-26 15:05] #105 closed

[2015-08-27 12:20] cosmicnag commented on #93
Sorry for the late response @bjflanne ... I am using NATS as the main communication channel for my microservice architecture (its the best and simplest from a lot of options)... We mostly use NodeJS services , but are also experimenting with Elixir. Whether we can actually go ahead with Elixir or not largely depends on NATS support.
Thanks. Did the survey with the obvious choice for me :)

[2015-09-09 16:24] cosmicnag opened #114 "Escape/special characters disrupting gnatsd"
(reponse meant for request1)
    MSG _INBOX.630146017521313532193872803 259 564
    (response meant for request2)

Cant pinpoint what it is, but could be some special/escape characters that are disrupting the text protocol of gnatsd, causing spillover of another request's reponse into a response with that MSG_INBOX string in it.
To explain,
Request1 -> Reponse1+"MSG_INBOX....."+Response2

Hence th

[2015-09-09 19:25] cosmicnag commented on #114
Woah... looks like it got resolved by updating node-nats to 0.4.2

[2015-09-09 19:25] #114 closed

[2015-09-10 01:02] derekcollison commented on #114
ok great!

On Wed, Sep 9, 2015 at 2:25 PM, Yudhajit Nag <notifications@github.com>
wrote:

[2015-09-10 01:41] derekcollison commented on #114
Just released 0.4.4 which is recommended. Had a very rare edge condition
bug that was fixed.

On Wed, Sep 9, 2015 at 8:02 PM, Derek Collison <derek.collison@gmail.com>
wrote:

[2015-09-10 14:52] cosmicnag commented on #114
cool thanks will definitely update right away

[2015-09-21 17:49] ajschlosser opened #117 "opts.BufSize undefined (type server.Options has no field or method BufSize)"
I am getting this error

[code]

after running ```go build ``` since the latest commit. Did I fail to update something?

[2015-09-22 06:35] derekcollison commented on #117
Works fine for me, maybe git pull again and make sure you are on master.

[2015-09-22 06:35] #117 closed

[2015-09-28 09:25] rexxar-liang opened #119 "ROUTE connection do not reconnect."
Our team found ROUTE connection do not reconnect after connection disconnected.
1.Our cluster environment:
Two physical machine,A and B, each of them deploy one gnats on it.
2.Trigger:
Disconnect the network cable between A and B. after 10 minutes, recover the network cable between A and B.
3.expect result:
ROUTE connection between 2 gnats expect to be reconnect after network is recovered.
4.actua

[2015-09-30 09:23] derekcollison commented on #119
It seems like there could be an issue with the route connection not being tried after the MaxPingsOut happens. I will take a look.

cc @krobertson @olegshaldybin

[2015-10-02 03:21] sheenobu opened #120 "Connection information via server.ClientAuth, clientOpts"
I'm currently embedding gnatsd into an application and providing custom auth. I am able to grab user-supplied details, however there is no way to get connection information from server.ClientAuth. This is the closest I have gotten:

	str := client.(fmt.Stringer).String()
	tokens := strings.Split(str, ":")
	ip := tokens[0]

This does get me the IP address (and eventually port). I noticed the String

[2015-10-06 13:49] derekcollison commented on #120
Possibly the monitoring API (/connz specifically) can be helpful. https://github.com/nats-io/gnatsd#monitoring.

[2015-10-06 23:42] sheenobu commented on #120
@derekcollison Thank you. Does not look like their is a way to drop connections but a combination may work. That said... we ended up going with token based authentication instead.

[2015-10-12 05:14] mcqueary commented on #48
The NATS documentation is now live on our new open source website: [nats.io](http://nats.io).
The protocol doc is here:
http://nats.io/documentation/internals/nats-protocol/

[2015-10-12 05:45] mcqueary opened #122 "Authentication vs. Authorization"
`gnatsd` does client **authentication**, but not **authorization**. The code seems to use these words interchangeably, which makes the use of the **`auth`** abbreviation in the naming pretty ambiguous.

- **Authentication** is the process of ascertaining that somebody really is who he claims to be.
- **Authorization** refers to rules that determine who is allowed to do what.
e.g. Larry is authoriz

[2015-10-12 05:54] mcqueary commented on #14
Seems to be closed by #78. Please let us know if not.

[2015-10-12 05:54] #14 closed

[2015-10-12 06:10] mcqueary commented on #74
@thedrow @franklinwise @yonah-codefresh @mackross - hi there! This past Friday we released our open source website on [nats.io](http://nats.io). Lots of documentation has been added at [nats.io/documentation](http://nats.io/documentation).

The documentation has its own separate [repo on GitHub](http://github.com/nats-io/nats-docs/). Please feel free to contribute or raise any doc issues there. Th

[2015-10-12 06:10] #74 closed

[2015-10-12 06:30] mcqueary commented on #94
Hi there! In our experience, 'messaging' tends to be the more general/common term used for message-based publish-subscribe systems like NATS. A cursory search on GitHub for 'golang messaging' nets 68 repositories, with NATS topping the list (1448 stars and 174 forks as of this writing). A similar search for 'golang message queue' nets 8 repositories, all of which seem to be experimental or individ

[2015-10-12 06:30] #94 closed

[2015-10-12 06:50] rexxar-liang commented on #119
@derekcollison
Thanks for your reply, I have figure out the reason and fix it.
I use an old version which have this issue, after upgrading to a new one, gnatsd works perfactlly.

[2015-10-12 06:50] #119 closed

[2015-10-16 03:49] rexxar-liang opened #123 "HTTP support"
currently gnats route is like this "nats-route://user:pass@IP:PORT" ,
whether we will consider to support http/https connection, like "nats-route://user:pass@DOMAIN:PORT"

[2015-10-16 15:33] derekcollison commented on #123
We will support TLS alongside TLS for client connections. The route protocol is a text based protocol and is not HTTP based, but we are committed to secure connections.

/cc @mcqueary

[2015-10-19 01:17] rexxar-liang commented on #123
Hi @derekcollison ,
    Good idea, We are looking forward to TLS feature.
    By the way, is there any roadmap or timeline for this feature?

[2015-10-19 02:34] derekcollison commented on #123
It;s the next major item on our roadmap. Actively working on it now.

[2015-10-21 01:04] smithwinston opened #124 "TLS/SSL support"
It seems there's an `ssl_required` config option but no actual TLS/SSL support?  Ideally, the configuration would allow for Certificates, RootCA, CipherSuites, ServerName, InsecureSkipVerify and MinVersion (TLS) to be configured.

[2015-10-21 01:20] derekcollison commented on #124
Yes that is the plan! Coming soon.

[2015-10-21 19:31] mcqueary opened #125 "Get JSON config from URL"
To ease integration with directory services and other configuration sources, `gnatsd` should accept a configuration URL that points to a valid server config.

example:
`gnatsd -c http://configserver.example.com:8181/nats?node=mynodename`

The config can be read using cURL or similar.

[2015-10-21 20:18] mcqueary opened #126 "Server graph auto-discovery and announcement"
Cloud deployment requires elastic scaling of server clusters. Doing this should be simple and dynamic, not requiring `gnatsd` or clients to restart in the event of graph changes.

This implementation should, at a minimum, achieve the following:

1. Allow any `gnatsd` instance to connect to any already-running `gnatsd` instance, discover its graph, and connect to its graph.
2. Allow any client to c

[2015-10-21 20:19] mcqueary commented on #108
Closing in favor of #126. Please add comments there.

[2015-10-21 20:19] #108 closed

[2015-10-21 23:58] AlaRuba opened #127 "Running Image in Docker Problem"
Hi,

I'm trying to use Gnatsd in docker. In my docker-compose.yml, I specify it like so
[code]
I then link to this image from the images that use it. However, when I try to connect in code like so
[code]
I get the following error
[code]
I was wondering if I was connecting to it the right way via docker.

[2015-10-22 00:07] wallyqs commented on #127
Hi, I believe in Docker Compose you have to specify both the host and container port so that it gets published: https://github.com/docker/compose/blob/master/docs/compose-file.md#ports
so I think you might be able to connect  if you set `4222:4222` in the ports section instead. Also you could try using the latest official image too `image: nats`.

[2015-10-22 02:14] #127 closed

[2015-10-22 17:12] mcqueary opened #128 "Don't store passwords in clear text"
Basic user/pass authentication module should store passwords hashed using e.g. [bcrypt](http://godoc.org/golang.org/x/crypto/bcrypt).

@ColinSullivan1 says this is a good idea. Millions of users agree :)

[2015-10-22 17:28] derekcollison commented on #128
I agree..

[2015-10-22 20:46] mcqueary opened #129 "Multi-user subject authorization"
To use NATS within multi-tenant environments or within security constraints of enterprise environments requires the ability to authorize users to perform actions on potentially sensitive or privileged objects.

In the current NATS implementation, the authorizable actions include:
- Connect to a node/cluster
- Publish to a subject
- Subscribe to a subject

Authorization can be based on a number of

[2015-10-25 19:50] mcqueary opened #130 "Support message persistence"
The NATS ecosystem (and not necessarily `gnatsd` itself) should support the ability to persist messages such that a client may receive messages that have been published to subjects of interest while that client was not connected to `gnatsd`.

[2015-10-25 19:52] derekcollison commented on #130
As you know, I believe the larger NATS ecosystem should provide this, but I do not believe this should be core to gnatsd.

[2015-10-25 20:07] mcqueary commented on #130
@derekcollison Sorry for creating confusion. My intent wasn't to imply that `gnatsd` itself should have this functionality as core. By popular community request, we are trying to use GitHub to track the NATS project roadmap. For the moment, we're using this repository as the master Issue Tracker for that purpose. Granted, that artificially *bends* Issue Tracker a little bit for this repo, especial

[2015-10-25 20:23] mcqueary commented on #130
Issue description edited to reflect @derekcollison comment.

[2015-11-05 01:33] rexxar-liang commented on #130
So, are we going to support this feature(message persistence) in our roadmap?

[2015-11-05 01:38] derekcollison commented on #130
yes.

[2015-11-10 12:11] asafyish opened #134 "Windows release ?"
Hi,

I saw there is no official windows binary, but people still using it on windows, does it mean they compile from source ?

[2015-11-10 14:08] ColinSullivan1 commented on #134
Hi Asaf,

Yes, NATS compiles directly from the source - the instructions to build  apply to Windows as well.  What clients are you interested in?

Thanks,
Colin

[2015-11-10 14:18] asafyish commented on #134
We are using node.js and python clients.
Thanks for the quick response !

[2015-11-17 12:48] lyuyun opened #135 "Cluster TLS handshake error: doesn't contain any IP SANs"
2 members in cluster, get error when starting TLS route client handshake.

Member A log msg:
[code]

Member B log msg:
[code]

[2015-11-17 12:56] lyuyun commented on #135
Member A conf:
[code]

Member B conf:
[code]

[2015-11-17 15:38] derekcollison commented on #135
The issue seems to be with the certificate not having the proper IP AltSubject.

[2015-11-18 03:52] kozlovic opened #136 "Possible repeated "Bad or Missing ROUTER Identity, not processing msg" debug trace"
Setup: server A and B in a cluster, and a subscriber on 'foo' connecting to B. Publisher connecting to A and publishing on 'foo'. If B is stopped and restarted several times, and if the timing is right, everytime the publisher sends a message, the server A would print "Bad or Missing ROUTER Identity, not processing msg" if running with the "-D" command line parameter.

(PR coming).

[2015-11-18 04:16] kozlovic opened #138 "Subscription may not be propagated to routed server in some cases"
Setup: server A and B in a cluster. Subscriber on 'foo' connecting to B. If B is restarted, and if timing is right, the subscription 'foo' will not be forwarded to 'A', causing a requestor connecting to A and sending requests to 'foo' to timeout.

(PR coming).

[2015-11-18 06:21] kozlovic commented on #136
Fixed in #137.

[2015-11-18 06:21] #136 closed

[2015-11-18 06:21] kozlovic commented on #138
Fixed in #139.

[2015-11-18 06:21] #138 closed

[2015-11-25 09:53] SrinivasChilveri opened #144 "tls handshake is fine with go1.5.1 but not with go 1.4.2"
The certificates are generated accrding to the explaination from the below link...
https://docs.docker.com/engine/articles/https/

Logs & conf from NatsNode1:
cluster {
  host: "9.XX.XX.15"
  port: 4223

  authorization {
    user: "nats"
    password: "pass"
    timeout: 60
  }

  routes = [
  nats-route://nats:pass@9.91.17.102:4223
  ]
  tls {
        # Server cert
        cert_file: "/root/tlsc

[2015-11-25 17:45] derekcollison commented on #144
The certs used for routes in my testing have client and server extensions. Take a look at srva-cert.pem

[code]

[2015-11-26 14:26] wustrong opened #145 "The first line of config file is parsed error"
version:0.5.2

can't get the first properties correctly, others are right.
the configuration in nats.conf is:
  1 net:"10.62.X.X"
  2 port: 50021

print the mapping in parse:
![image](https://cloud.githubusercontent.com/assets/5350907/11425215/36f473fc-948e-11e5-870b-80aad727c13e.png)

but the gnatsd doesn't listen the configured IP(use default IP0.0.0.0).
SZX1000023942:/opt/wsz/nats/install/nats/

[2015-11-27 01:19] derekcollison commented on #145
In general it expects a hostname, but I agree a direct IP should work.

[2015-11-27 03:05] wustrong commented on #145
when add 1 line at the top of nats.config:

[2015-11-27 17:38] derekcollison commented on #145
I will take a look, thanks for the report.

[2015-11-29 00:30] jmealo opened #147 "Error parsing passwords that begin with a digit"
If a password starts with a number the configuration parser attempts to parse the password as a number instead of a string causing the parsing to fail with a cryptic error message indicating that the first non-numeric character should be a map value terminator.

** Example output: **
[code]

[2015-11-29 17:03] derekcollison commented on #145
If the IP is quoted it should work.

e.g.

[code]

Do you use the one listed above with the 'X's? e.g. '10.62.X.X'?

[2015-11-29 17:07] derekcollison commented on #147
Parsing numbers is tricky. If the password starts with a number, simply quote it.

e.g.
[code]

[2015-11-29 17:07] #147 closed

[2015-11-30 12:26] wustrong commented on #145
net: "10.39.156.19"

[2015-11-30 16:32] derekcollison commented on #145
Can you try https://github.com/nats-io/gnatsd/releases/tag/v0.6.8 and let me know the results?

[2015-11-30 17:18] #144 closed

[2015-11-30 17:19] #135 closed

[2015-11-30 17:21] #107 closed

[2015-11-30 17:21] #120 closed

[2015-11-30 17:26] derekcollison commented on #123
TLS support is now in master.

[2015-11-30 17:26] #123 closed

[2015-12-02 00:22] ColinSullivan1 commented on #70
I've been unable to reproduce this problem in a windows 7 64 bit environment - perhaps I'm doing something different.  @BinaryTweedDeej, can you verify your go version and share any build flags you used (if any)?

[2015-12-02 05:40] SrinivasChilveri opened #152 "Do we have any plans to support adding a new node(peer) dynamically into a nats cluster?"
I think present gnats doesn't support adding new node dynamically into a gnats cluster dynamically...
Do we have any plans to support adding a new node(peer) dynamically into a gnats cluster?

[2015-12-02 06:44] derekcollison commented on #152
Yes, that is next up after this large security release. We will add a gossip protocol for both cluster formation and for client notifications as well. See #126

[2015-12-02 06:44] #152 closed

[2015-12-03 08:06] wustrong commented on #145
the first line is not parsed right.

when i add one line at the top:
 name: gnatsd
![Uploading image.png…]()

version is:0.6.8

[2015-12-03 18:58] #86 closed

[2015-12-03 18:58] derekcollison commented on #145
ok will take a deeper look, thanks..

[2015-12-03 20:02] derekcollison commented on #145
Works for me..

[code]

[2015-12-03 20:02] derekcollison commented on #145
Feel free to reopen if I am missing something.

[2015-12-03 20:02] #145 closed

[2015-12-03 20:03] derekcollison commented on #88
I am seeing this now with the new nats-bench program for the Go client. Its on my list to redo, thanks again for one of the best issue writeups.. ;)

[2015-12-07 02:29] kozlovic opened #153 "Parser error when using TLS: [46367] 2015/12/06 19:14:50.058181 [ERR] ::1:58819 - cid:39 - Error reading from client: Client Parser ERROR, state=0, i=0: proto='"\x16\x03\x01\x019\x01\x00\x015\x03\x035\x86U\x1b_\x96\x15{\xb1\xcc,\x96\xaaTDoK\x81x,\xa6"...'"
(note that with current code, the protocol snippet is not printed, see #154).

I wonder if when the server initializes the client, we should delay the start of the readLoop when tls is required until after we have done the ssl handshake (and re-wrapped the buffer). I was running tests where the client creates SSL connections repeatedly and would often get a parser error (which the protocol looked

[2015-12-07 02:39] kozlovic opened #154 "Parser error never shows protocol snippet"
I believe that a recent change caused this issue. Here is the output of a parser error:

[46125] 2015/12/06 19:06:51.965494 [ERR] ::1:56104 - cid:39 - Error reading from client: Client Parser ERROR, state=0, i=0: proto='...'

The protocol snippet is not printed. I believe that this is caused by commit: 498df401af204644fc7b5ef0c173e8ddb0ed0c86

[2015-12-07 06:38] derekcollison commented on #154
Do we not have a test for the snippet? Guess we need one.

[2015-12-07 06:39] derekcollison commented on #153
Possibly. I will think about this a bit.

[2015-12-07 06:40] #154 closed

[2015-12-08 09:02] railsmechanic commented on #93
+1

[2015-12-08 15:33] pires commented on #128
Isn't this fixed by https://github.com/nats-io/gnatsd/commit/6fc9927f52b1654c5431f5aa53503c044dcb71e3?

[2015-12-08 15:35] pires commented on #124
This is closed as well, https://github.com/nats-io/gnatsd/commit/850da72adcf544d434f93cccdf909ee744ffac79.

[2015-12-08 15:57] #124 closed

[2015-12-08 15:58] derekcollison commented on #128
Yes, correct.

[2015-12-08 15:58] #128 closed

[2015-12-08 16:41] derekcollison commented on #70
Maybe this has been fixed.

[2015-12-08 17:41] ColinSullivan1 commented on #70
Thanks - I've been meaning to get back to this.  Looks like it was - hat
tip to Matias Lahti.

https://github.com/nats-io/gnatsd/commit/03d14478a23d3d4b3a5558eccd1b195c1c869ac6

On Tue, Dec 8, 2015 at 9:41 AM, Derek Collison <notifications@github.com>
wrote:

--
*Colin Sullivan* | Principal Engineer
colin.sullivan@apcera.com <brian@apcera.com>  | @ColinSullivan01

[2015-12-08 17:59] #70 closed

[2015-12-08 21:25] kozlovic commented on #153
Fixed with #160

[2015-12-08 21:25] #153 closed

[2015-12-10 12:42] joeblew99 commented on #126
+1
Will make things .uch easier on kubernetes for me.

[2015-12-10 16:46] derekcollison commented on #126
You will still need to know 'one' server for new servers or clients, just FYI.

[2015-12-12 20:30] tylertreat opened #164 "Use Go's builtin map"
I believe `HashMap` was written because Go's pre 1.0 `map` was slow, but benchmarking with Go 1.5.2, shows the builtin `map` is actually faster:

[code]

The builtin `map` requires `string` keys instead of `[]byte`, so it's possible the `string` conversion makes this difference inconsequential. I replaced the cache in `sublist` and benchmarked the difference:

**sublist with HashMap:**
[code]

**s

[2015-12-12 21:00] derekcollison commented on #164
It's been faster for awhile! Been my todo list to remove and also address your concurrency concerns for sublist.

On Sat, Dec 12, 2015 at 12:30 PM -0800, "Tyler Treat" <notifications@github.com> wrote:

I believe HashMap was written because Go's pre 1.0 map was slow, but benchmarking with Go 1.5.2, shows the builtin map is actually faster:

go version go1.5.2 darwin/amd64
Benchmark_GoMap___GetSmal

[2015-12-12 21:22] tylertreat commented on #164
Thanks, Derek! I have a branch where I started replacing `HashMap`. Let me know if you think this is worth pursuing: https://github.com/nats-io/gnatsd/compare/master...tylertreat:builtin_map?expand=1

[2015-12-13 17:53] derekcollison commented on #164
Will take a look. Want to solve for the high concurrency issue as well.

[2015-12-17 02:09] sammccord commented on #93
+1

[2015-12-17 15:28] yonah-codefresh commented on #126
+1

[2015-12-17 19:01] pkieltyka commented on #126
awesome guys! can you add to the docs as to how its designed / works? (without having to read all the code)

[2015-12-17 22:43] derekcollison commented on #126
Yes, of course..

[2015-12-18 16:47] railsmechanic commented on #93
I think there is a client for Elixir...

https://github.com/aforward/elixir_nats

[2015-12-28 00:35] xorgy opened #168 "Client can prematurely decrement pending pings."
gnatsd [will decrement client.pout below zero][1] when the client sends a `PONG`. As a result, the client can send any number of `PONG`s in advance to avoid timeout.

Perhaps this could lead to DoS if malicious clients open a large number of connections which are not properly closed.

In addition to the practical concerns, this also disagrees with the protocol description.
"If the client fails to

[2015-12-28 05:08] derekcollison commented on #168
Thanks, will take a look.

[2015-12-29 01:20] krobertson opened #170 "Lock external dependencies"
As of 6fc9927f52b1654c5431f5aa53503c044dcb71e3, gnatsd now has an external dependency for `golang.org/x/crypto/bcrypt`. To ensure builds are reproducible, gnatsd should use godep or something similar to capture the intended sha of the dependency, else it is possible for other projects that build gnatsd itself to pull in unintended changes, or to have the build broken when dependencies are added.

[2015-12-30 00:52] derekcollison commented on #170
@krobertson You should do this on your on in core. I don't want to introduce any dependency management in the main gnatsd tree at this time.

[2015-12-30 00:52] #170 closed

[2015-12-31 02:28] krobertson commented on #170
Had been working with @ColinSullivan1 and @kozlovic to review a branch with it managed by Godep.

I do generally disagree. Projects should manage their own dependencies. Gnatsd and core are entirely separate projects.

If there is a breaking upstream change, it can break the build for anyone who wants to build gnatsd. Additionally, if gnatsd is built locally for releases, you checked out the depen

[2015-12-31 04:42] derekcollison commented on #170
There are binary releases for this purpose, please use those and do not build it from source. I do not want to introduce something like godeps at this time. Binary releases will fix this issue for you.

[2016-01-06 13:29] xiam opened #171 "The Linux tarball changes permissions on the current directory"
Hello there,

Extracting the Linux tarball (like https://github.com/nats-io/gnatsd/releases/download/v0.7.2/gnatsd-v0.7.2-linux-amd64.tar.gz) changes the permission, time and owner of the current directory:

Before:

[code]

During extraction:

[code]

After:

[code]

And if you do this as root, things looks worse:

[code]

Changes permissions and owner.

I tested this on an Ubuntu 14.04 box. I ho

[2016-01-07 06:38] nkev commented on #106
@derekcollison I want to build a modular application structure employing an embedded GNATSD server  as an event emitter to communicate between modules within the same process. Later when scaling, some modules can be moved to a different server but maintain exactly the same code for event emission. My concern is this comment you made above:

How much of a performance penalty would that impose for c

[2016-01-07 12:08] wustrong opened #172 "will gnatsd clear invalid subcriptions?"
Client's closeConnection() will delete all related subscriptions,
but when TCP conenction is broken in unexpected ways,
while client is not closed, the subcriptions are still in subs-list of server,
server may deliver messages to "bad" subcriptions when a "pub" is invoked.
If subscript a subject with queueGroup property, messages will  probability deliver to "bad" connection client, other clients

[2016-01-07 13:59] pkieltyka commented on #106
@nkev why not just use goroutines/channels if its within the same process?

[2016-01-07 14:02] pkieltyka commented on #106
@nkev a good practice that's been helping me over recent years is to iterate towards the end vision. So instead of looking ahead and starting with many abstractions that you "know" you'll need one day, better to write the first version so its clear, explicit and solves the stage of the problem you need. Then as you iterate, you also refactor and if you follow good design, like in this case, you co

[2016-01-07 15:57] kozlovic commented on #172
This is what PING/PONG are for. That is, both client and server send PING to each other and expect a PONG in return.

After a pre-determined number of PINGs out without corresponding PONGs, the connection will be closed. In case of the server, this is when the client connection will be closed and state cleaned-up.

In the server, the default PING interval is 2 minutes (`DEFAULT_PING_INTERVAL`), an

[2016-01-07 16:04] derekcollison commented on #106
Fairly easy to do, look here for an example: https://github.com/nats-io/nats/blob/master/test/test.go

There is another PR to make this cleaner and easier which I will look at soon since we will be embedding the server inside some stuff as well.

[2016-01-07 16:06] derekcollison commented on #172
The server will drop all state from a client when it detects a connection is broken, via normal TCP or via PING/PONG. If the server believes the connection/client is still valid it could select it and try to deliver a message to it, even if that message will not be processed.

[2016-01-08 06:00] nkev commented on #106
@pkieltyka:

Thanks, I'm thinking why reinvent the wheel when NATS already has the wildcard based pub-sub that I need? My project requires both in-process and external process modules out of the box and if I can achieve this with a single pub-sub codebase, that will make it more elegant and maintainable.

@derekcollison:

Thanks, I saw that in your previous post but my question is how much of a pe

[2016-01-08 06:26] derekcollison commented on #106
I don't think the performance impact will bother you unless you are looking
at > 1M msgs/sec requirements.

On Thu, Jan 7, 2016 at 11:00 PM, Nuri <notifications@github.com> wrote:

[2016-01-08 06:32] nkev commented on #106
Thank you, that's the kind of info I needed to hear. I figure if I'm hitting >1M msgs/sec on a single server, then it's time to move the busiest modules to other servers.Is there scope to create a "memory" transport for NATS (for in process server and clients)?

[2016-01-08 06:34] derekcollison commented on #106
Possibly, but just embed a server for now.

On Thu, Jan 7, 2016 at 11:32 PM, Nuri <notifications@github.com> wrote:

[2016-01-08 07:19] nkev commented on #106
I just had a brain freeze moment... I remember reading that GNATSD server is capable of 6-8M msgs/sec when running as a separate process. Are you saying that running the GNATSD server as a separate process would be faster than embedding?

[2016-01-08 07:48] derekcollison commented on #106
No not at all.

[2016-01-08 15:25] bjflanne commented on #106
@nkev -- if you're interested, be great to also have you in the NATS Slack community...great area for synchronous exchange around NATS - good group in there, and I'd also be curious to discuss what you're trying to build further...just fill out this form (http://bit.ly/1OyNc9W) and I'll shoot you an invite.

[2016-01-10 17:23] #172 closed

[2016-01-10 17:24] derekcollison commented on #171
We have a fix for this. Will do a release this week when Go1.5.3 comes out. Thanks again for the report. The one change will be an enclosing directory, e.g. ``gnatsd-1.7.4/``

[2016-01-10 17:26] derekcollison commented on #93
We are also working on one. /cc @camros

[2016-01-10 18:33] xiam commented on #171
Awesome, thanks @derekcollison.

[2016-01-11 06:23] wustrong commented on #172
@kozlovic what if server deliver messages in the period of PING interval is 2 minutes, or before server detects a connection is broken? message will be lost?

[2016-01-11 06:39] derekcollison commented on #172
Yes in the case the socket connection is lost but not detected that it is
lost, all messages sent to the socket during this period can be lost.

On Sun, Jan 10, 2016 at 11:23 PM, Shi-zhong Wu <notifications@github.com>
wrote:

[2016-01-11 07:20] wustrong commented on #172
@derekcollison can decrease  PingInterval  for more detection of connetion is broken? will it have big  effect on performence?

[2016-01-11 07:36] derekcollison commented on #172
If you are concerned about stalled connections, of course you can lower the
PING interval. It will not affect performance in most cases.

On Mon, Jan 11, 2016 at 12:20 AM, Shi-zhong Wu <notifications@github.com>
wrote:

[2016-01-20 15:23] pires opened #175 "Server shouldn't be able to establish routes to itself"
How to reproduce with latest `master`:
[code]

Here's what I see:
[code]

[2016-01-20 22:43] peterwald opened #176 "gnatsd should seed a cluster without creating an explicit route"
When adding nodes to a NATS cluster, you'd like to use a hostname that is mapped to any of the nodes in the cluster (as in a Kubernetes headless service).

    /gnatsd -cluster=nats://$MY_IP:6222 -routes=nats://nats-service:6222

Currently, this results in `nats://nats-service:6222` being added as an explicit route in the routes list. In the above example, the hostname `nats-service` is configured

[2016-01-21 05:03] derekcollison commented on #176
I will read up on this and get back to you..

http://kubernetes.io/v1.1/docs/user-guide/services.html

[2016-01-21 09:46] pires commented on #176
@derekcollison let me know if you need input on that. Both me and @peterwald should be able to clarify any questions about Kubernetes services. Particular to this issue, _headless services_ serves as DNS SRV lookups, returning the addresses for all _pods_ related to each _service_.

The reported behavior is not exclusive to Kubernetes though. As an example, Consul would behave similarly.

[2016-01-21 14:03] peterwald commented on #176
One idea that's halfway between static routes and auto-discovery would be to allow a route to be specified as a DNS name that resolves to multiple A records (or SRV records). gnatsd could resolve all of the IP addresses and add them all as individual routes (rather than my original suggestion of it picking a random one each time). This might be simpler than some of the other ideas around cluster d

[2016-01-21 16:22] derekcollison commented on #176
Both are good suggestions, am looking at it, just ran out of time last night flying home.

[2016-01-21 16:37] jduhamel commented on #176
I use consul to build multiple DNS records ie. both DNS A records that return the route for nats-srv and individual SRV records. So I post process to get the result. +1 @pires I'd love the concept of seed route as it takes a step out of the post processing.

[2016-01-21 16:40] derekcollison commented on #176
This does seem like a good idea. Thanks to all for suggestions and comments.

[2016-01-22 16:51] ColinSullivan1 commented on #122
This should also apply to monitoring - the same credentials can be used to secure the monitoring interface.

[2016-01-26 08:36] glycerine opened #178 "tls disables publishing"
972b9c18ac61bed63d8ea6fbba3a9eb03b18d1b8  on go1.5.1 darwin/amd64 / OSX 10.11
Messages do not appear to publish when using server tls certs.  They are received by gnatsd, but do not show up at the subscriber. Editorial aside: As per usual TLS certs are a nightmare. How about just a simple symmetric cipher option; NaCl perhaps? golang.org/x/crypto/nacl/secretbox makes this really easy. Back to the

[2016-01-26 09:23] camros commented on #178
@glycerine Have you tried removing the call to defer nc.Close in your subscriber? Also, for brevity can you include the subject and message arguments you're using (publishing) just in case that matters. Thanks!

[2016-01-26 15:17] kozlovic commented on #178
From the server log, it looks like these are only short-lived connections. If you have started the publisher 4 times, then it looks like the subscriber is not even connected to this server. I would recommend that you:
1- Start the server with `-DV` (not only `-D`). This will print extra protocol messages. For instance we would see if the `SUB` protocol makes it to the server.
2- Check errors on `n

[2016-01-26 15:48] glycerine commented on #178
@kozlovic will do
@camros the subject is hard coded in the publisher repro code above to be 'test'. See the first code listing.

[2016-01-26 15:52] glycerine commented on #178
@kozlovic I start the server -DV, and then I start the subscriber, the server says:
[code]

[2016-01-26 16:01] glycerine commented on #178
here's the client trying to subscribe, first console output, then updated code that checks errors:

@kozlovic could you please provide an example of how to "Setup an async error handler for the subscriber to make sure that it does not get any error and to check nats.ErrorHandler for more info" thanks!

[code]

updated client code:
[code]

[2016-01-26 16:06] glycerine commented on #178
okay, now it works when I take the defer nc.Close() out of the subscriber. don’t know where I copied that nc.Close() from, but taking it out made things work, naturally enough.

[2016-01-26 16:06] #178 closed

[2016-01-26 19:47] glycerine opened #179 "gnatsd chokes on net: 127.0.0.1 in config file"
at latest gnatsd, 972b9c18ac61bed63d8ea6fbba3a9eb03b18d1b8

In OSX, one cannot reliable use 'localhost' to represent the loopback, so one must use 127.0.0.1.

However, gnatsd chokes on this simplest.config:
[code]

with a parsing failure:
[code]

[2016-01-26 19:49] kozlovic commented on #179
You need to use `'` or `"` surrounding the host name.

[code]

[2016-01-26 19:50] glycerine commented on #179
yep. that works. thanks Ivan. closing.

[2016-01-26 19:50] #179 closed

[2016-01-27 21:10] bjflanne commented on #93
Hello everyone -- the Elixir client is now available in alpha: Please let us know what you think, questions, et al! https://github.com/nats-io/elixir-nats

[2016-01-28 21:33] glycerine opened #180 "wishlist: gnatsd usable as a library"
This would be a nice-to-have feature. To facilitate testing, it would be great to be able to spin up a gnatsd from within a test. That is, to be able to instantiate and configure a gnatsd server solely as a library, without depending on file system files or command line flags.

For example, usage like this fragment
[code]

I hacked one together for now, but

a) supplementing/allowing complete repl

[2016-01-28 21:37] kozlovic commented on #180
You can already do that. The server can be started as a go routine. That's how the tests are starting the server. You can check in various places, but for instance, check the GO [nats client](https://github.com/nats-io/nats):  `test/test.go` file and check for the various `RunServerXXX` functions. Let me know if that solves your problem.

[2016-01-28 21:39] glycerine commented on #180
Oh nice. Excellent. Thanks @kozlovic.

[2016-01-28 21:39] #180 closed

[2016-01-29 05:31] glycerine opened #181 "wishlist: symmetric encryption"
Dealing with TLS certs, while it does work, is a pain when all you need symmetric encryption between client and server, and between servers in a cluster.

It would be great to have a simple utility that generated an a strong (e.g. NaCl for speed) symmetric cypher secret and then just used that to encrypt all nats communication, and a simple config setting to tell nats clients and gnatsd to use tha

[2016-01-29 05:49] derekcollison commented on #181
There is a tremendous amount of ongoing research and very old research and applications (e.g Diffie-Hellman) on how to securely pick a symmetric key. The NATS server does not need to be involved in client only encryption, so you are free to do that at will. I have an example of the client picking the security context, etc.

https://github.com/derekcollison/nats_chat

[2016-01-29 05:49] #181 closed

[2016-01-29 06:08] glycerine commented on #181
I don't think this issue should be closed -- I'm tnot alking not about payload encryption, but encryption (and authentication) of all nats traffic; which requires the server to know the key.

It is unacceptable to most users that need encryption to leak their subject lines and to allow arbitrary parties to inject traffic into the system.

[2016-01-29 06:15] derekcollison commented on #181
I am not sure I would want to promote static symmetric keys. I would argue we should make it easier to generate a simple self-signed certificate for the server with no client certificate requirement.

Static symmetric keys have proven to be problematic.

/cc @philpennock

[2016-01-29 06:35] glycerine commented on #181
'static' ? Certainly symmetric keys are easily rotated if desired, no?  What in particular is the concern?

In contrast to the web or authenticating a large user base, the situation is very different when running a cloud service or a backend production cluster of 10s - 100s - 1000s of machines.

Here if the key gets compromised you just regenerate it and update it everywhere, because all locations

[2016-01-29 15:47] philpennock commented on #181
Live services need to be able to restart without disruption.  One symmetric key used by all parties requires simultaneous restart of all nodes, client and server, with error handling for the duration where everything appears "bogus" to gracefully degrade ... in the absence of the main communication layer between nodes.  This is problematic for reducing overall complexity.

There's a reason that po

[2016-01-29 17:33] glycerine commented on #181
Hi Phil,

That is certainly a reasonable concern. It's a rationale for allowing a small set of keys at once to enable key rotation.

Moreover a cert system has the exact same problem. In either case, if the system doesn't support more than one server identity at once, you can't change that identity incrementally without a full restart of all nodes.

Best,
Jason

[2016-01-29 20:40] derekcollison commented on #181
I do plan on adding in additional identities, still think simple server self-signed cert with no requirement for client certs is best way to secure the client/server transport. You can pick how long the cert is valid for as well when generating it.

[2016-01-29 20:58] derekcollison commented on #176
Would this seed URL simply resolve to N IPs, and try ONCE to connect upon startup? If connected would we try any others? Would the connected one be elevated to explicit or remain implicit?

[2016-01-29 20:58] derekcollison commented on #176
What about if ports are different on each host?

[2016-01-29 21:11] peterwald commented on #176
Yes, I think we should resolve the host to N IPs and try once to connect to each. In my case, I would want the connection to be implicit, not explicit. When connecting to those IPs, if new nodes are discovered (i.e. the list is not complete), it should add the new nodes as implicit routes as well.

If the url resolves to an A record, then the ports would have to be the same of course. We could pot

[2016-01-30 01:49] derekcollison commented on #176
Sounds reasonable, so try to connect to each one once, on the first connect use the information that server passes onto us to form the cluster.

[2016-01-30 10:43] pires commented on #176
+1 for @peterwald comment on A vs SRV records and how to handle ports based on that.

[2016-01-30 17:57] glycerine opened #182 "multiple user/password stanzas"
Are multiple authorization stanzas supported by the gnatsd config file?  To upgrade a cluster's credentials incrementally, without full restart at once of all nodes, multiple accounts will be needed.

e.g. to support login by either alice or bob:

[code]

[2016-01-30 18:04] glycerine commented on #182
The options block in [github.com/nats-io/gnatsd/server/opts.go](https://github.com/nats-io/gnatsd/blob/master/server/opts.go#L30) suggests only a single username and pw are supported at present.

[code]

So something like this would be needed

[code]

[2016-01-30 18:54] derekcollison commented on #182
Not at this time bit are on the roadmap for sure.

[2016-02-04 04:24] kozlovic opened #189 "Races on connz monitor"
Here are some data races running the test suite:

[code]

[2016-02-05 06:58] glycerine opened #193 "are subscriptions lost on reconnect?"
I ran a long-running nats-subscriber, which was receiving traffic just fine.

Then I took the gnatsd down, and brought it back up again.

Observed: The subscriber no longer received any messages.

Expected: I expected that the subscriptions would be remembered in the client-side of the connection, and supplied to the server upon reconnect. Does that not happen?  Automatic reconnect isn't very usef

[2016-02-05 07:01] glycerine opened #194 "how to determine the nats-client port number?"
I'm looking at nats-top at the clients listed. I see two clients, but they are only distinguished by having different ports.

[code]
How do I tell what port a given client has bound? So I can tell which client is getting traffic through?

Looking at github.com/nats-io/nats/nats.go: the nats.Conn structure looks as though it has a conn net.Conn, but it is private so I can't ask it what its port is.

[2016-02-05 07:06] derekcollison commented on #193
Yes by default most clients will not only reconnect but will also re-subscribe automatically to the existing subjects. Which client (+version) did you notice the behavior?

[2016-02-05 07:06] mcqueary commented on #193
Jason, the client should resend subscriptions on successful reconnection, assuming that it did reconnect successfully. Was the ReconnectedCB invoked?

[2016-02-05 07:08] derekcollison commented on #194
You can name your clients, depending on which client library you use. But if set, will show up in /connz and the top application.

[2016-02-05 07:11] glycerine commented on #194
Using the Go library... I'm guessing Name is it.
[code]

[2016-02-05 07:11] #194 closed

[2016-02-05 07:14] glycerine commented on #193
version info:
[code]

I'll add a reconnect handler and let you know if its called.

[2016-02-05 07:16] derekcollison commented on #193
Look for the disconnect, closed and reconnect CBs. Also monitor the server itself with monitoring enabled and look at /connz?subs=1 to see the connections with the subscriptions that are active listed.

[2016-02-05 07:20] glycerine commented on #193
Thanks for the monitoring hints about /connz?subs=1 ... will post update shortly (though sleepy, might be tomorrow).

[2016-02-05 07:26] mcqueary commented on #193
Jason, if you can, and it's practical, start `gnatsd` with `-DV` so we can see what's going on during and after the reconnect.

[2016-02-05 07:27] glycerine commented on #193
-DV on, thanks.

[2016-02-05 08:58] glycerine commented on #193
Found at least one problem with my code; it was making more more nats connection that intended. I'll open a new ticket with full details (thanks for all the debugging and diagnostics hints) if I see subscription loss and document it. Closing this one so I don't forget to.

[2016-02-05 08:58] #193 closed

[2016-02-05 12:20] derekcollison commented on #193
What was the most useful tool that help diagnose your problem?

[2016-02-05 13:09] derekcollison opened #195 "Invalid sort options"
When passing invalid sort options should probably return a non-200 status to signal an error, or return valid json with status code, not simply an error string.

cc @wallyqs

[2016-02-05 13:18] derekcollison commented on #195
nvm see you return BadRequest.

[2016-02-05 13:18] #195 closed

[2016-02-05 18:08] glycerine commented on #193
The http://127.0.0.1:8222/connz?subs=1 page told me I had an extra client connection I wasn't expecting, so that. 2nd place: setting the Names option let me determine which connection was duplicated.

[2016-02-06 15:46] #189 closed

[2016-02-10 16:50] kozlovic commented on #175
@pires: Just to confirm. Your expectation is that the server would fail to start and report an invalid configuration or something else?

[2016-02-10 17:15] derekcollison commented on #175
No, it should simply ignore. Similar to when servers A and B are configured to connect to each other, we detect duplicate connections and simply drop the redundant one.

[2016-02-10 17:17] kozlovic commented on #175
Well, this is what's happening here. It detects and drop, but try again ;-). But yes, I understand, detects first so we don't even try.

[2016-02-10 17:29] pires commented on #175
Exactly.

[2016-02-10 17:31] kozlovic commented on #175
In multi-home servers, the host may resolve do different IPs. So I should get the actual IP use for the route listen spec, and verify that none of the resolved IPs for the "routes" host resolve to that IP. Right?

[2016-02-10 19:31] pires commented on #175
What happens when you're listening on `0.0.0.0`?

I'd say an instance has a list of IPs it is listening on (`0.0.0.0` translates to all interfaces so one would need to know all available interface IP addresses) and ignores routes to any of those.

[2016-02-10 19:35] pires commented on #175
Also, one problem I've noticed when running inside a Docker container (without `--net host` flag specified) is that NATS only knows the container internal IP, thus adding more complexity to what I suggested above.

Oh, and when running NATS on a container, it knows only the container internal IP and uses that when establishing a route, rendering it invalid.
[code]

[2016-02-10 19:40] kozlovic commented on #175
Again, all that makes the idea of letting the route connect, and then detect that its from the server itself, and close the connection and not try to reconnect. The thing that is not nice about this is that quite a bit happens during the route create (sending all known routes, subscription interest, etc..), all for nothing.

[2016-02-10 19:51] ColinSullivan1 commented on #175
Paulo,

You're good at bringing up corner cases!

While there are a few ways to solve this I do think Ivan's idea (detect
oneself after connecting) is simplest and introduces the least amount of
complexity.  It also seems robust enough to handle complex cloud
environments...  my $.02.

Colin

On Wed, Feb 10, 2016 at 12:40 PM, Ivan Kozlovic <notifications@github.com>
wrote:

--
*Colin Sullivan* | P

[2016-02-10 19:52] kozlovic commented on #175
Do I understand correctly that the output above corresponds to the case where `-routes` points to itself, right? I see that the "duplicate" route is detected, even though the ip don't match.

If so, that would be great because I am having a hard time detecting with certainty that we would be connecting to ourselves. I may go with the approach I've described before (detect that remoteID is server I

[2016-02-10 19:53] kozlovic commented on #175
@ColinSullivan1 Our updates crossed path. Good to see that the idea is not too unreasonable.

[2016-02-10 19:57] pires commented on #175
This should do it so I agree the connection may be established, invalidated and never tried again. Is this what you're proposing @kozlovic?

[2016-02-10 19:58] pires commented on #175
Btw, with orchestration tools like Kubernetes this doesn't happen because it (the tool) owns the networking space and not Docker (overlay) so the container IP address is reachable from other containers (_pods_ in Kubernetes lingo).

[2016-02-10 19:59] kozlovic commented on #175
Yes, that's what I was thinking. Experimenting.

[2016-02-11 17:11] kozlovic commented on #175
Closed with #202.

[2016-02-11 17:11] #175 closed

[2016-02-12 14:05] peterwald opened #204 "prevent accumulation of "zombie" routes when dynamically scaling NATS cluster"
When using a service like kubernetes, the cluster is scaled down by killing nodes. When nodes are recreated, they come up with a different IP address each time.  This is a fairly common operation. For example when upgrading NATS itself, a rolling update would be propagated across a cluster by scaling up the new version while simultaneously scaling down the old version.

Currently, when a node goes

[2016-02-12 14:07] peterwald commented on #176
Primary issue is fixed by cef87212b94c59249fdbb07df9bc7ee13dba756b. Closing and replacing with the remaining issue #204.

[2016-02-12 14:07] #176 closed

[2016-02-12 14:09] pires commented on #204
Shoudln't route `PING/PONG` take care of this?

[2016-02-12 14:11] peterwald commented on #204
Seems like maybe it could, but it doesn't. I think if I remember right it's because the routes are added as explicit and so are never dropped.

[2016-02-12 19:22] sachinwalia2k8 commented on #130
Hi @derekcollison / @mcqueary any estimate when this may be implemented.

[2016-02-12 19:25] mcqueary commented on #130
I think we should have something usable by around  the end of March. What
client language are you interested in?

On Friday, February 12, 2016, Sachin Walia <notifications@github.com> wrote:

--
*Larry McQueary* | Director, Messaging Technology
larry@apcera.com | @mcqueary | github.com/mcqueary

[2016-02-12 19:33] peterwald commented on #204
Figured out i was running an outdated build. This has been fixed in master.

[2016-02-12 19:33] #204 closed

[2016-02-12 19:35] sachinwalia2k8 commented on #130
I am using Java 8. So far I have been using Java client built by tyagihashi. However contemplating moving to the official jnats client.

[2016-02-12 19:36] pires commented on #130
Java and Go here!

[2016-02-12 19:53] mcqueary commented on #130
Sachin let me know if you need assistance making the move. I have not
compared jnats to Teppei's client but they should be quite similar other
than minor details. We'd like to identify anything that will ease adoption
and make sure we address it.

On Friday, February 12, 2016, Sachin Walia <notifications@github.com> wrote:

--
*Larry McQueary* | Director, Messaging Technology
larry@apcera.com | @m

[2016-02-12 20:34] sachinwalia2k8 commented on #130
Thanks I'll try to implement jnats and see if i hit any problem.

[2016-02-13 19:23] camros opened #205 "Clients may not know why a handshake failed when using tls"
Clients should always know why a connection handshake failed to ensure reconnect and other logic works correctly.

From sniffing and traces kind of stuff  this looks to be a half close timing related issue under high load where the client believes the tls handshake failed rather than the auth err making it back.

[2016-02-13 20:11] kozlovic opened #206 "Cluster may not form properly when servers connect too fast"
Run a server that will act as a "seed" (let's call it A).
In a script, start two servers (B & C) that connect to A. It is likely that B and C won't know about each other.

[code]

[2016-02-14 05:46] derekcollison commented on #205
I believe it works as it should. Under heavy load it may in fact close the connection, which would look like a tls fail on the client side before the client can read the -ERR.

https://github.com/nats-io/gnatsd/commit/9fac37dd66291264f228c9929204e67c9747626f

[2016-02-14 05:46] #205 closed

[2016-02-16 13:07] drauch opened #208 "In-process hosting of gnatsd in a .NET server application?"
Is it possible to host the gnats daemon in-process within a .NET server application? This would simplify our deployment process.

[2016-02-16 14:41] ColinSullivan1 commented on #208
Not directly - the NATS server is an executable written in go.

Two options you have are to include the NATS server (gnatsd) as an executable in your application and invoke it from your application, or another option you can look into, but would require more work, would be compiling the NATS server as as library and deploying it as unmanaged code in your application.  The main routine, Start(), is

[2016-02-20 22:14] glycerine opened #209 "feature request: cluster membership changes sent to client connections"
Because clients may be started before servers in a cluster, and server membership in a cluster may change, it is a chicken-and-egg problem to tell all clients about all servers. And impossible to do with a static configuration file for a client.

However, the fault tolerance guarantees of a gnatsd cluster depend critically on clients knowing about all servers in the cluster.  If clients do not kno

[2016-02-20 22:36] glycerine commented on #209
from slack conversation with Larry McQueary

[2016-02-20 22:47] glycerine commented on #130
I have a library that shows how to write a nats client that does persistence for selected topics.

https://github.com/glycerine/tmframe/tree/master/archiver

[2016-02-21 01:28] mcqueary commented on #130
Nice, Jason!

/cc @bjflanne

[2016-02-21 01:31] mcqueary commented on #209
Duplicates #126

[2016-02-21 01:31] #209 closed

[2016-02-23 03:33] glycerine opened #210 "shutdown logic"
https://github.com/nats-io/gnatsd/blob/master/server/server.go#L249

[code]
what is the point of the first for loop writing to conns, if the second for loop is going to overwrite what was just written?

[2016-02-23 03:33] glycerine commented on #210
never mind; they are maps not slices.

[2016-02-23 03:33] #210 closed

[2016-02-23 07:21] glycerine opened #211 "gnatsd config file: authorization stanza inside cluster doesn't work. Client error 'Authorization Violation'"
I tried using the same authorization stanza inside the cluster definition as earlier in the gnats.conf file.  In works there, using the bcrypt encoded password. Both gnatsd servers in the 2-server cluster however complain that that something is wrong with their cluster auth:

[code]

I tried taking out the password and username completely -- no auth in the cluster section, on both servers; and no

[2016-02-23 07:29] glycerine commented on #211
It works if I do use a password, and use a plaintext non-bcrypt encrypted password in both the cluster sections auth and in the URL.

[2016-02-23 15:09] derekcollison commented on #211
Thanks will take a look.

[2016-02-23 16:20] derekcollison commented on #211
ok so just ran a test with client auth, tls for cluster but no auth for cluster and it works fine.
[code]

a.conf
[code]

b.conf
[code]

[2016-02-23 16:26] derekcollison commented on #211
I think I have replicated the issue using bcrypt auth in the cluster stanza.

[2016-02-23 16:53] derekcollison commented on #211
ok I have a fix, will commit shortly after I get automated tests written.

[2016-02-23 19:14] glycerine commented on #211
Cool. For the other case, my config file without the authorization stanza was different from a.conf and b.conf above in that the tls section was *outside* the cluster section, and there was no tls section inside the cluster stanza. Redacted version:

[code]

[2016-02-23 20:17] derekcollison commented on #211
And this does not allow a route to be formed?

[2016-02-23 20:26] glycerine commented on #211
not sure if the route was functioning, the log output vaguely indicated some kind of problem; copying from the comment's last snippet above:

[code]

[2016-02-23 20:30] derekcollison commented on #211
ok will take a look. Can you reproduce? I have the other item with bcrypt in cluster auth fixed.

[2016-02-23 20:34] derekcollison commented on #211
Seems to work fine for me with my tests, duplicating from above. I may submit the fix for bcrypt in cluster auth to master, if you see an issue though just let me know.

[2016-02-23 20:47] glycerine commented on #211
Thanks. I've got some usable data flowing so I don't want to tear it down just to test again just now.

It might be worth just supplementing the "Client error 'Authorization Violation'" error message ,wherever it comes from, with some details as to exactly what went wrong; it's just so vague one hardly knows where to start looking.

[2016-02-23 20:54] #211 closed

[2016-02-24 17:30] #93 closed

[2016-02-25 15:26] drauch commented on #208
Thank you for the background information, we're going to use the Go standalone executable. This seems the way-to-go.

[2016-02-25 15:26] #208 closed

[2016-02-27 11:13] dc0d opened #216 "Random Timeout in Request/Reply"
Hi everybody! Could someone please help me with this https://play.golang.org/p/cfAAERFCer? I get timeout error randomly - it's a simple request-reply sample & I'm running nats with `gnatsd`.

[2016-02-27 18:15] wallyqs commented on #216
Hi @dc0d, you are getting a `nats: timeout` because there are no Subscribers ready to reply by the time the requests are sent.
You might get better results by calling `Flush` after you `Subscribe` in the receiver side...

[code]

but practically it is about making sure that there is at least a receiver by the time the requests are sent, in terms of this snippet a small wait before the requests are

[2016-02-29 18:59] #206 closed

[2016-02-29 18:59] #216 closed

[2016-03-02 09:19] glycerine opened #217 "drop rates very high, lots of messages lost"
gnatsd 0.7.5, go client 1.1.9, both on linux amd64 under go1.5.3. The server is running in a 2 node HA cluster, however publisher and subscriber are only subscribing to a single sever (the same gnatsd server; the clients only know about one of the two gnatsd servers in the cluster).  Publisher, gnatsd, and subscriber are all running on the same linux host, and TLS certs are being used on both ends

[2016-03-02 09:34] glycerine commented on #217
What didn't work: I tried adding Flush() calls on the publisher side after every 1000 messages, and after the last message sent, but I see no change in loss rates. They remain high. This seems to suggest the server or the receiver is dropping messages.

[2016-03-02 13:01] camros commented on #217
@glycerine Can you share a code snippet that shows your receiver and subscriber? Am guessing there is something wrong there causing some issues.

[2016-03-02 13:43] camros commented on #182
@glycerine can you outline/confirm your goal vs a solution if that makes sense.

Here is what I understand from your description above:

You would like support to _upgrades to a nats cluster_ without causing availability loss to nats clients using the cluster. An upgrade could be any change, whether a new version of gnatsd, or a config change (e.g., to _change auth tokens_)

[2016-03-02 13:55] camros commented on #168
@derekcollison Suggest we augment ping/pong semantics to allow the sender of a ping to include any payload and expect the same thing back in pong. This addresses many of the client issues / workarounds for ping book keeping.

My initial tests show this can be made backwards compatible and conditional by using a version or other key out of the connect/handshake Json

For example, when turned on, cl

[2016-03-02 14:19] camros commented on #168
One other side benefit here is syncing up flush calls for clients that use pings for that. Those clients no longer need to clean up the pending/expected state structures etc. flush can ping and look for the exact pong back.

[2016-03-02 15:31] derekcollison commented on #217
Please attach an error handler to your client.

Example here: https://github.com/nats-io/nats/blob/master/test/sub_test.go#L531

[2016-03-02 16:02] derekcollison commented on #217
You can also try SetPendingLimits if the client is a slow subscriber.

See here for more information: https://godoc.org/github.com/nats-io/nats#Subscription

[2016-03-02 16:50] xorgy commented on #168
Simple solution without modifying the protocol would be to not allow it to decrement below 0. TCP guarantees the delivery so if they're connected, they should see all of the `PING`s.

If the client can only respond to pending `PING`s, that satisfies the protocol exactly.

[2016-03-02 19:32] xorgy commented on #168
The more I look at the protocol document, the more I think that PONG should reset pout to 0 rather than decrementing it.

Note that it doesn't say you have to respond to _each_ of the PING requests, only that you have to respond with a `PONG` in time.

[2016-03-02 20:14] glycerine commented on #217
Thanks for the suggestions.  It's not trivial to extract a minimal reproducing case just now, and I think there's lots of good info from the reporting and error handler:

Turning on the error handler, the consumer is getting lots of errors like: "nats: slow consumer, messages dropped"

When I check the stats with the subscription reporting functions, I do see that many messages are dropped:

SubRe

[2016-03-02 20:18] kozlovic commented on #217
When the client gets "slow consumer", it means that the messages have been accumulating in the client library (the server is OK delivering to the library), because the message callback is too slow to process the messages. You can see that you have hit the limit of messages (default 65536). As Derek suggested previously, try to bump this limit with `SetPendingLimits`.
Note: when the server declares

[2016-03-02 20:19] glycerine commented on #217
@kozlovic Ah, thanks for clarifying that. I misinterpreted.

[2016-03-02 20:21] kozlovic commented on #217
And by "too slow" to be honest, any callback doing real work will probably causes messages to pile-up if you have a fast producer.
So you can either increase the pending limits up to the point you think you think is reasonable, or throttle the sender.

[2016-03-02 20:22] glycerine commented on #217
@kozlovic, Is there a way to deliver a batch of messages in a callback (as in, everything the client library has at the moment), instead of one-by-one?

[2016-03-02 20:23] kozlovic commented on #217
No, but that would not change much. If we consider that the slow down is in the processing of a message, the callback would then have this processing x the number of passed messages. In the meantime, messages arriving from the fast producer will accumulate, leading to slow consumer...

[2016-03-02 20:28] glycerine commented on #217
@kozlovic Thanks for the insight. To be on the safe side, it sounds like I'm going to need to apply back pressure by throttling the producer.

[2016-03-02 20:29] kozlovic commented on #217
That's a good approach.

[2016-03-02 20:36] ColinSullivan1 commented on #217
@glycerine ...another option could be to distribute the work load through queue subscribers, assuming you have message atomicity.

[2016-03-02 20:48] glycerine commented on #217
Thanks for the suggestion @ColinSullivan1.

For anyone else encountering this same issue, the quick fix is raising the limits, the code for that goes like so:
[code]

(Of course this doesn't introduce any back-pressure, so is still vulnerable message loss)... but for now, with these larger nats-client buffers, the receiver is keeping up and I'm seeing 0 dropped messages:

[code]

So I have a solut

[2016-03-02 20:48] #217 closed

[2016-03-02 21:10] glycerine commented on #182
@camros, right, your description seems spot on to me.

[2016-03-03 01:14] glycerine opened #219 "subscription fail with > full wildcard match"
cid 1 wants to receive messages on subject "tseries.ackrequest.backfiller". The subscription seems to happen via "tseries.ackrequest.backfiller>" in the gnatsd trace below, and the > wildcard at the end would seem to allow this.

cid 2 wants to send messages on subect "tseries.ackrequest.backfiller" to cid 1. The publish seems to happen in the trace below.  However gnatsd doesn't notify cid 1.

I'

[2016-03-03 01:19] kozlovic commented on #219
The subscription is on `series.replay.>`, but the message is sent on `tseries.ackrequest.backfiller`. They don't match.

[2016-03-03 01:20] kozlovic commented on #219
Sub in `cid 1` would have receive the message if it subscribed to `tseries.>` or `>`, etc...

[2016-03-03 01:20] glycerine commented on #219
cid 1 has two subscriptions

[2016-03-03 01:21] kozlovic commented on #219
Sorry. You forget the `.` before `>`.

[2016-03-03 01:21] kozlovic commented on #219
As in `tseries.ackrequest.backfiller.>`

[2016-03-03 01:22] kozlovic commented on #219
Wildcards `*` and `>` work only as full tokens, not a substring of a token.

[2016-03-03 01:29] glycerine commented on #219
hmm... it seems then there no way to match both

tseries.ackrequest.backfiller

and

tseries.ackrequest.backfiller.userid60

with a single subscription, which is what I was trying to do.

[code]

[2016-03-03 01:31] glycerine commented on #219
By analogy, in a filesystem, it would seem natural to want to watch all children files in a particular directory.

[2016-03-03 01:31] kozlovic commented on #219
No indeed, unless you are willing to do `tseries.ackrequest.>`, but then you could get non `backfiller` messages.
What's the difference between subject 1 and other? Looks to me like the second is from a given user, while the other is for all?

[2016-03-03 01:32] kozlovic commented on #219
Is an application publishing on `tseries.ackrequest.backfiller` only? What's the difference between this message and the one with `userid..`

[2016-03-03 01:34] glycerine commented on #219
I wanted to be able to add refinements of the subject later without changing code that proxies those subjects. userid is an example of additional detail, that could be used to shard the work. I guess I could make two subscriptions?

[2016-03-03 01:37] kozlovic commented on #219
Yes, or have something like `tseries.ackrequest.backfiller.>` but with messages sent to `tseries.ackrequest.backfiller.all` and others with different tokens. `all` is an example. I would replace it with something that still makes sense for the general case.

[2016-03-03 01:44] glycerine commented on #219
K, thanks for clarifying.

Doc suggestion -- instead of in [1]

which I read to be referring to characters as in a regexp, make the points you made above:

[1] http://nats.io/documentation/internals/nats-protocol/

[2016-03-03 06:56] derekcollison commented on #168
All good suggestions, and its on the list to be addressed before the next release.

[2016-03-03 07:26] glycerine opened #220 "how to do flow control"
After looking at the problem of flow control between a heavy publisher and a subscriber, it seemed a much harder problem than I initially thought.  So I've taken nats out of that particular loop.

How provide back-pressure in the presence of various failure scenarios is particularly challenging given the nats client's inclination towards dropping messages make this particularly hard to address at

[2016-03-03 14:43] camros commented on #220
@glycerine back pressure is a general problem and I'd hope you'd agree not specific to NATS.

We have capabilities planned around this on our roadmap that will help with many use cases.

We don't feel that there is a solution that meeds every use case, so you may need something specific for your application/use case (search for back pressure routing/algorithms on google ;-) ).

On the topic of dro

[2016-03-03 14:46] camros commented on #220
@glycerine also -- if you give some insight into your producer/consumer model (real world use case and topology please) we can help to outline a model for flow control or point you at something.

[2016-03-03 15:32] glycerine commented on #220
Hi @camros, thanks for your comments. Of course backpressure and flow control are not specific to nats; but are built into TCP so we use them all the time.

The problem in my specific case can be stated as: Given a publisher, P, a gnatsd server G, and a subscriber S, I've got flow control (implemented by the TCP stack itself) on two legs, (1) and (2)

[code]

In order to have the producer not over

[2016-03-03 15:38] derekcollison commented on #220
NATS is a fire and forget decoupled system. You can implement flow control on top of NATS for a specific 1:1 situation, but NATS itself is not designed that way. Given any publisher rate P, you need to be able to monitor and balance for subscriber rate S. In my opinion you should run a group of queue subscribers to balance P and S.

[2016-03-03 15:47] glycerine commented on #220
I started trying to do just that, for the specific 1:1 situation, but the failure scenarios that needed to be considered (failure of the server, reconnect of the client, client library dropping messages), plus the need to acquire estimates of the leg (1) rates from gnatsd and gnats doesn't expose such rates, all this made it seem... really hard. If anyone has actually already solved this with exam

[2016-03-03 16:04] glycerine commented on #220
The best idea that I came up with was something like using a rule: P only ever sends a batch that is of a size that S's nats-client-library buffers can handle, and P only sends such a batch upon request (and specification of size) by S.

Throughput would be far from optimal, but it would work.  Failure/retransmit cases are handled by having S do a simple re-request on timeout.

[2016-03-03 16:15] derekcollison commented on #220
These are not easy problems, but there is alot of research into ways to do this for 1:1, and M:N. We do realize that these problems can affect our customers and do have roadmap items that we will disclose soon to address. However, NATS itself will remain true to a fire and forget, dial-tone system for truly decoupled, distributed systems.

[2016-03-03 16:51] glycerine commented on #220
For those interested in exploring this area, here's a specific challenge problem to stimulate thinking: come up with a variation on the above protocol that provides at least 50% of the bandwidth of a direct point-to-point P-to-S TCP connection, but sends all messaging through gnatsd, is robust against common failure scenarios, and never overwhelms a given fixed size S nats-client receive buffer.

[2016-03-03 20:44] xogeny commented on #134
Any particular reason *why* there's no Windows release?

I've used NATS in the past and thought it would be good for a project I'm now working on. But when I saw no Windows download on nats.io and no release here, I assumed there was some issue that prevented it from running on Windows (cgo, posix, etc.).  I think that is a reasonable assumption and I suspect many people would jump to that conclus

[2016-03-03 20:52] kozlovic commented on #134
@xogeny Thanks for the feedback! We are planning on providing a build for Windows in our upcoming release (very soon).

[2016-03-03 20:56] ColinSullivan1 commented on #134
@xogeny, Thank you for bringing this issue up.  @kozlovic beat me to the response here.  There's no reason a windows download isn't there, other than that we've been working hard on other features.  I've run the NATS server extensively in my testing with the NATS C# .NET client and it has performed well.

[2016-03-04 05:31] glycerine commented on #220
After consulting a networking textbook, it turns out there is a standard algorithm [1] for doing reliable delivery across an unreliable network that also provides flow control. No need to reinvent the wheel.

[1] https://en.wikipedia.org/wiki/Sliding_window_protocol

[2016-03-04 05:31] #220 closed

[2016-03-07 11:07] glycerine commented on #217
for future reference --

https://github.com/glycerine/go-sliding-window

[2016-03-07 16:05] camros opened #221 "Address lint issues"
We need to make a pass to address golint output: https://goreportcard.com/report/github.com/nats-io/gnatsd.

Specifically, make a pass to address comments for exported functions variables. Less focus on ALL_CAPS and other warnings for now.

[2016-03-10 00:56] glycerine opened #223 "gnatsd reports dead and gone connections to nats-top"
Re https://github.com/nats-io/nats-top/issues/32, gnatsd should stop reporting connections (in /connz?) whose keep-alives have failed some N times in a row. I currently see connections who have been dead a gone for 5 days still reported by gnatsd to nats-top. These processes died without unsubscribing.

[2016-03-10 06:03] derekcollison commented on #223
Do you have a test case to reproduce?

[2016-03-10 07:21] glycerine commented on #223
Just happened to notice it in the nats-top display, so no formal test case.

Manual steps: I have a client subscribe connect to the server with 1 subscription, and then I kill -9 the subscriber, so it can't unsubscribe before it dies. The subscriber isn't being sent any traffic by any other subscriber. It still shows up days later in nats-top.

[2016-03-10 07:33] glycerine commented on #223
Ok, wierd. the process named replayer is dead, but I see another process holding that port open using lsof. My bad, there is a live process, and I must have mixed up nats name with the program name. Closing tickets.

[2016-03-10 07:33] #223 closed

[2016-03-17 07:36] deviantmk opened #225 "case of a node failure"
Hi
So lets say in a cluster of 3 nodes, we push a message but a node fails before the message is delivered, is there a chance that the message would be lost or the other 2 nodes already have it and will deliver it (once or twice?)

or in other words, when a message is pushed to nats.io, is the message acknowledge when its present in all 3 nodes or just that one node where its pushed to and then is

[2016-03-17 15:08] kozlovic commented on #225
There is no acknowledgment at all in NATS. This is a "fire-and-forget" mechanism, in that when a message is sent, there is no guarantee that it is going to be delivered. At the application level, one can use Request (with timeout) to ensure that the receiver gets the message, and resend if the reply is not received within the timeout.

At the server level, it's just a send. So if your application

[2016-03-17 19:39] deviantmk commented on #225
thanks

[2016-03-17 19:39] #225 closed

[2016-03-20 00:11] mcqueary commented on #219
I updated the doc thus:

[2016-03-20 00:11] #219 closed

[2016-03-20 00:23] mcqueary commented on #221
I believe #224 should close this, at least as defined here (i.e. hitting the important stuff). @ColinSullivan1, please confirm and close if true.

[2016-03-20 00:30] mcqueary commented on #130
This issue is generally resolved by "Project STAN" and will be specifically addressed in nats-io/stan#40. More information will be announced next week.

[2016-03-20 01:24] camros commented on #221
@mcqueary yes, it does; created this when we discussed via email

[2016-03-20 01:24] #221 closed

[2016-03-20 16:32] ColinSullivan1 commented on #221
@mcqueary @camros Correct - #224 addresses this issue.

[2016-03-20 21:12] chrismcv commented on #130
404?

[2016-03-20 21:15] mcqueary commented on #130
Apologies, that repo is not public yet. Stay tuned!

On Sunday, March 20, 2016, Chris McVittie <notifications@github.com> wrote:

--
*Larry McQueary* | Director, Messaging Technology
larry@apcera.com | @mcqueary | github.com/mcqueary

[2016-03-20 23:01] mcqueary commented on #221
Thanks, guys!

On Sun, Mar 20, 2016 at 10:32 AM, Colin Sullivan <notifications@github.com>
wrote:

--
*Larry McQueary* | Director, Messaging Technology
larry@apcera.com | @mcqueary | github.com/mcqueary

[2016-03-20 23:40] mcqueary opened #226 "Rename gnatsd 'nats-server'"
Includes both the executable and the repo name.

From Derek's Google Groups post:

[2016-03-20 23:48] #106 closed

[2016-03-21 00:31] derekcollison commented on #226
Not really, docker image will still be nats and will run the server on its own, so no impact.

[2016-03-22 16:13] drauch opened #228 "Question: at-least-once delivery"
According to the documentation NATS guarantees at-most-once delivery of a message, however, at-least-once delivery is not guarnateed.

I can iamgine only two scenarios where at-least-once delivery fails:
* subscriber is not reachable anymore
* subscriber cannot process the high load anymore

Both scenarios should lead to a forceful subscriber disconnect by the server.

Therefore, does the followin

[2016-03-22 16:21] derekcollison commented on #228
Neither will hold when publisher and subscriber are connected to different servers in a cluster and the route between the servers is partitioned.

[2016-03-22 16:22] derekcollison commented on #228
The only statement we can make is the following.

For any given publisher, messages produced will be delivered in order with at most-once delivery semantics per subscriber.

[2016-03-22 16:33] drauch commented on #228
I understand, thank you for your clarification.

[2016-03-22 16:33] #228 closed

[2016-03-22 18:37] mcqueary commented on #182
Duplicates #129 -- We'll address this as part of that requirement.

[2016-03-22 18:38] #182 closed

[2016-03-22 18:50] mcqueary commented on #122
We will address this in #129

[2016-03-22 18:51] #122 closed

[2016-03-22 18:52] mcqueary commented on #129
See also #122 -- need to clean up references to _Authorization_ in `gnatsd` that actually mean _Authentication_

[2016-03-23 22:13] kozlovic commented on #168
Addressed with PR #229

[2016-03-23 22:13] #168 closed

[2016-03-24 01:28] xorgy commented on #168
Wonderful. :-)

[2016-03-24 18:48] mcqueary commented on #226
This may not work as intended due to restrictions on Go import package names (no hyphens), combined with the restriction that import names must be the same as the actual pathnames under $GOPATH/src.

[2016-03-30 20:06] sixlettervariables commented on #134
I'll throw in my +1 for a Windows build. Because of our secure development environment, it has become basically impossible to build go projects with more than a handful of external dependencies. We really (really) want to evaluate nats as our ServiceBus replacement.

[2016-03-30 20:09] mcqueary commented on #134
@sixlettervariables This is definitely something we're going to do... thanks for weighing in!

[2016-03-30 20:16] bjflanne commented on #134
@sixlettervariables I see you are (relatively) local; I am in the RDU area. Be great to sync up sometime, will drop you a quick email.

[2016-03-30 20:22] kozlovic commented on #134
@sixlettervariables As @mcqueary stated, this is coming and probably very soon when we issue a new release. We were thinking about providing the 64bit version only. Would that work for you?

[2016-03-30 20:34] sixlettervariables commented on #134
Absolutely. Our current environment is 2012 R2 64-bit.

On Wed, Mar 30, 2016 at 4:22 PM, Ivan Kozlovic <notifications@github.com>
wrote:

--
Christopher A. Watford
christopher.watford@gmail.com

[2016-03-31 08:36] chrismcv commented on #130
@mcqueary any updates on this or an eta?

[2016-03-31 17:49] mcqueary opened #231 "Multi-user authentication"
- Flesh out the existing Authentication interface
- Provide a reference file-based implementation that can authenticate multiple users.

[2016-03-31 18:17] mcqueary opened #232 "Multi-user authentication"
Need to flesh out the existing Authentication interface and provide a reference file-based implementation that can authenticate multiple users.

[2016-03-31 18:35] #232 closed

[2016-03-31 19:23] mcqueary commented on #130
@chrismcv it's in-flight right now and should be in the MVP, which should be when all this is made public. We're working out the date right now. Are you on our Slack team? DM me your email address on Twitter and I can send you an invite.

[2016-03-31 20:47] derekcollison commented on #130
This will be covered by STAN, not the core nats-server.

[2016-03-31 20:47] #130 closed

[2016-04-03 12:49] derekcollison commented on #164
Fixed with df02bc0bcf90717889aa9ab9189162fb43d6dc3a.

I have a PR pending that allows an L1 cache with no contention in the client's readLoop as well. Also since the sublist is subscription aware, can optimize queue subscribers, which right now have dismal performance relative to straight pub/sub.

[2016-04-03 12:49] #164 closed

[2016-04-03 12:50] derekcollison commented on #88
Fixed this with df02bc0bcf90717889aa9ab9189162fb43d6dc3a and pending PR that allows clients to maintain an L1 non-contended result set.

[2016-04-03 12:50] #88 closed

[2016-04-07 16:05] derekcollison commented on #134
This is now enabled on master via 0db7adb6b190143ab1d69ec921cf0612ae9e0c28

[2016-04-07 16:05] #134 closed

[2016-04-07 16:05] derekcollison commented on #134
Will provide prebuilt windows binaries in next release which is next week (scheduled).

[2016-04-11 21:37] pkieltyka opened #242 "Vendoring tool"
Hey guys, I see you've vendored the deps, awesome stuff.. which vendoring tool are you using btw? I just wanted to bring to your attention the awesome package: https://github.com/kardianos/govendor.

Similarly to your vendor/manifest file it creates: vendor/vendor.json

[2016-04-12 03:57] derekcollison commented on #242
https://github.com/FiloSottile/gvt

[2016-04-12 11:24] pkieltyka commented on #242
gvt looks pretty nice as well.

[2016-04-12 11:24] #242 closed

[2016-04-13 03:27] dramdass commented on #129
It'd be useful to also authorize on the client TLS x509 cert - for example, based on the cert serial number or values of certain cert extensions

[2016-04-13 18:07] lukaf opened #243 "Prometheus metrics"
Hi,

Would it be acceptable to have metrics exported in Prometheus format as a part of existing monitoring? I'd be happy provide a PR for it.

Thank you!

[2016-04-13 19:14] derekcollison commented on #243
Doe they not take JSON?

[2016-04-14 09:20] lukaf commented on #243
Unfortunately not, it uses its own data format: https://prometheus.io/docs/instrumenting/exposition_formats/#text-format-details

[2016-04-14 10:36] derekcollison commented on #243
ok, so the question would be then whether or not we do a small converter application, or we try to shoehorn the varz endpoint with a qualifier for formatting to this input format. For now, feels like a small utility app may be the way to go.

[2016-04-14 13:34] lukaf commented on #243
Thanks for the input, but I'm not sure what you mean by utility app? A separate tool that converts from JSON to Prometheus format?

My initial thought was adding a new handler to https://github.com/nats-io/gnatsd/blob/master/server/monitor.go and exposing it along the others.
All the metrics are already there so no additional processing would take place.

[2016-04-14 13:41] derekcollison commented on #243
Yes a separate application that takes the JSON from NATS and translates to prometheus. I am not convinced that baking this specialized format directly into NATS makes sense.

[2016-04-14 13:43] lukaf commented on #243
Ok, cool, makes sense. Thanks

[2016-04-14 13:43] #243 closed

[2016-04-15 07:24] wustrong opened #244 "will c.pa.sid change when deliverMsg?"
### there is only one palce that value changes: c.pa.sid = args[1]

### print the in come message summary in processMsgArgs(), the sid is right.
[code]

### print rsid when c.type is ROUTE
[code]

[code]

### the rsid has changed, then message lost.

p.s.
`2016/04/15 10:13:37 |info| [["Message's length is longer than client.bw.Available:<32768> < <36884>"]] `
### message is long, but deliver corre

[2016-04-15 08:49] derekcollison commented on #244
So is the issue you observed message loss that you are trying to figure out how it happened?

It sounds like you have a cluster of servers, can you send us the configurations for those and how to reproduce (the test) the message loss?

Thanks

[2016-04-15 12:17] wustrong commented on #244
our
`name: gnatsd
net:"192.128.0.11"
port: 50021

pid_file: "/home/itpaas/nats/bin/nats.pid"

log_file: "/home/itpaas/logs/itpaas/nats/nats.log"
debug: false
trace: false
authorization {
  timeout: 45
}

cluster {
  host:"192.128.0.11"
  port: 50022

  authorization {
    timeout: 45
  }

  routes = [
    "nats-route://192.128.0.12:50022"
    "nats-route://192.128.0.10:50022"

  ]
}
http_port: 500

[2016-04-15 13:08] derekcollison commented on #244
Do you have messages that are over 1MB big?

[2016-04-15 13:09] derekcollison commented on #244
Which client libraries are you using?

[2016-04-15 13:48] kozlovic commented on #244
More questions. In the first excerpt, it looks like the subject is missing, is it that you forgot to print it?
[code]

What version of gnastd are you using? Is it a release build (which one)? If not, what's the last commit to use this as a reference point when checking the code?

Thanks!

[2016-04-16 02:23] wustrong commented on #244
@derekcollison
1、we have messages that are over 1MB.
2、we use 3rd party java client [https://github.com/cloudfoundry-community/java-nats/](url)

@kozlovic
1、I hava printed it， it lost when I copy here.

2、gnatsd version:`[["Starting gnatsd version 0.5.2"]]`

Thanks!

[2016-04-16 02:36] kozlovic commented on #244
Ok, so I think you are hitting the defect fixed by https://github.com/nats-io/gnatsd/commit/1b39a9fe94fdc44b6bb91bc2975242d27bcd7577. Unfortunately for you, this was ported down to 0.6.0 but not before that.

Note that most of Apcera supported client now check for the server message limit, which by default is 1MB and will fail to send. Otherwise, the server will drop messages above 1MB.

I would r

[2016-04-16 02:51] kozlovic commented on #244
Note that enforcing a payload limit of 1MB was introduce in 0.6.2 as far as I can tell. Again, if you upgrade and this limit is too low, you can increase with config file parameter `max_payload`. As an example, check `server/configs/test.conf` (or alternatively build from source with setting a higher limit).

[2016-04-16 03:09] wustrong commented on #244
Thanks you very much! @derekcollison @kozlovic
Sorry for that I can't find the answer in issues.

[2016-04-18 16:40] kozlovic commented on #244
@wustrong No problem! I am going to close this issue, let us know if upgrading does not solve your issue.

[2016-04-18 16:40] #244 closed

[2016-04-22 23:15] kozlovic opened #255 "DATA RACE: access to client's fields should be protected in processConnect"
[code]

[2016-04-23 01:28] #255 closed

[2016-04-26 15:55] derekcollison commented on #171
This should be handled with new release process. Try https://github.com/nats-io/gnatsd/releases/tag/v0.8.0.beta.

[2016-04-26 15:55] #171 closed

[2016-04-26 15:56] derekcollison commented on #226
Will delay post 0.8.0.

[2016-05-05 06:45] s921102002 opened #264 "performance issue?"
Hi all,
There is a very strange problem that when the publish string contain ' '  (space)  and the performance become 4-5x slow. below is  the code

in my computer execution time

3.3993399s (first)
15.871587s (second)

The two test strings are the same length

I test such as "1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 "

if there are more spaces and the performance is very slow.

I don't trace

[2016-05-05 14:48] kozlovic commented on #264
Thanks for the report, we are going to have a look.

[2016-05-05 14:52] derekcollison commented on #264
You should put a call to nc.Flush() before grabbing the end time for each run..

[2016-05-05 14:56] kozlovic commented on #264
Adding the Flush() would make it more fair. But even without, I am unable to reproduce this issue using your program. Here is the output (on a Windows 64bits VM) with 10,000,000 messages sent:
[code]
I am using master for both server and go client.

[2016-05-05 15:09] kozlovic commented on #264
I think that in your case, the `nc.Flush()` may be the answer. Note that by default, the wait is 60 seconds. If this call was to fail with a timeout on your machine, you can call `nc.FlushTimeout()` and pass the desired timeout instead.

[2016-05-06 01:26] s921102002 commented on #264
Thanks for your reply.
But I test on win7 x64 it's also not working
The situation always happen, and I already download gnatsd master and nats matser from github and rebuild them.

I think there must have some problem here.
The above code I use normal string first and abnormal string second, this time I change sequence the result is the same, and I replace the abnormal string, and use "1 1 1 1 1 1

[2016-05-06 01:40] kozlovic commented on #264
We suggested that you put the `nc.Flush()` at the end of the loop, before capturing the time, not inside each iteration. That will speed-up things. With Flush inside the loop, you have a round-trip with the server for each message.
As for the difference, I don't know. The number I gave in my previous update was using your sample code on a Windows VM, with 10,000,000 messages, and it ended in less

[2016-05-06 01:42] kozlovic commented on #264
As an experiment, you could start `gnatsd` with the `-DV` parameter, as: `gnatsd -DV`, and change your test program to send only say 10 messages in each run and provide the output?

[2016-05-06 01:51] kozlovic commented on #264
Also, attached is my run with your original test program (adding nc.Flush()). Notice that I send 1,000,000 messages and it takes less then 8 seconds.

![screen shot 2016-05-05 at 7 49 10 pm](https://cloud.githubusercontent.com/assets/13736691/15062168/a70c9c06-12fa-11e6-8ae9-678a4c9b812b.png)

[2016-05-06 02:12] s921102002 commented on #264
Thanks your reply
I test the 2 mention test, -DV and change Flush() position and here is the result
Result1:
![dv](https://cloud.githubusercontent.com/assets/19200719/15062422/7c57f104-1372-11e6-9e51-1b7c21d457ce.PNG)

Result2:
![test2](https://cloud.githubusercontent.com/assets/19200719/15062423/7c5869ea-1372-11e6-81bd-6999a842e9ac.PNG)

[2016-05-06 04:20] s921102002 commented on #264
Hi all,
I'm so sorry for this issue, I found these computers have installed anti-virus program.
I remove the anti-virus program, and it looks ok.
Thanks All. :)

[2016-05-06 04:20] #264 closed

[2016-05-06 08:05] piotrkowalczuk opened #267 "TestServer helper function"
Hi,

one of my services is using gnatsd, and it's only dependency that i have to start separately instead of being spawned during tests in memory.

Limitations of current approach:
- `Server.Run()` returns no `error`
- `Server.Shutdown()` returns no `error`
- `Options` does not accept to pas custom `net.Listener`, and by passing `0` for port it is getting `4222` instead of any available.

Some cha

[2016-05-06 14:33] kozlovic commented on #264
No worries, glad to know that the issue is resolved!

[2016-05-06 15:20] derekcollison commented on #267
I believe passing -1 will get you any available for the port.

For the embedded server, I believe what we need to do is create a new package that has a cleaner API using the APIs in /server.

[2016-05-06 15:22] derekcollison commented on #267
I might even argue this functionality could be part of the NATS client package.

[2016-05-06 16:34] piotrkowalczuk commented on #267
`func TestServer(t *testing.T) (net.Addr, io.Closer)` is just syntactic sugar. Same way `Server` could implement `io.Closer` and `Run`/`Shutdown`  could return an error.

[2016-05-10 08:04] markuslindenberg commented on #243
I'm not totally convinced that it makes sense to rely on an external exporter for prometheus. As I understand it /varz is supported by borgmon (Google internal / proprietary), while Prometheus is considered (by Google, see the SRE book) a free and open implementation of the same concepts which is gaining a lot of traction everywhere currently.

So I guess a lot of people can make much more use of

[2016-05-10 09:36] pires commented on #126
Seems this is part of 0.8.0.

[2016-05-10 09:48] glerchundi commented on #243
And now it's part of CNCF (Cloud Native Computing Foundation)*. The same foundation that Apcera belongs. ;)

*: https://prometheus.io/blog/2016/05/09/prometheus-to-join-the-cloud-native-computing-foundation/

[2016-05-10 14:50] kozlovic commented on #126
@pires Not the client part though.

[2016-05-10 15:14] pires commented on #126
Makes sense 👍

[2016-05-10 16:06] derekcollison commented on #243
Regardless of where this functionality should live, /varz in its current form is depended upon and can not be changed except to be added to. With microservices it feels the best place to put this is in a separate component, not as part of gnatsd itself.

[2016-05-11 17:02] awdrius opened #270 "NATS cluster: tons of Error reading from client: invalid character '"' after top-level value"
Hello, I'm trying to start introducing NATS as a microservice communication protocol on mesos. I'm using mesos master nodes as seed nodes for NATS and each mesos slave runs gnatsd pointing to those seed nodes. I observed a peculiar flood of messages once I start/restart a bunch of mesos slaves (and gnatsd as it runs on those slaves).

This is small extract from gnats log:

[7723] 2016/05/11 16:42:

[2016-05-11 17:13] kozlovic commented on #270
Quick question: are all your servers of the same version?

[2016-05-11 19:00] awdrius commented on #270
@kozlovic Yes, they're all on the same gnatsd 0.8.0 version.

[2016-05-11 19:15] derekcollison commented on #270
Although verbose, we may be able to use the -DV log information could be helpful to the NATS team. I believe something other than a route connection is connection to the route port.

[2016-05-11 19:16] kozlovic commented on #270
I find this suspicious:

[2016-05-11 19:44] awdrius commented on #270
@derekcollison No problem. Do you know a good place to place logs so that I would not pollute this thread?

[2016-05-11 19:46] awdrius commented on #270
@kozlovic I have them:

Start 10.21.0.31:

[code]

Start of 10.21.0.9:

[code]

[2016-05-11 19:58] derekcollison commented on #270
I think you could just attach the logs by dragging into the comment box.

[2016-05-11 20:08] kozlovic commented on #270
Any chance that one of the server is trying to connect to the client port `4222`? Could you check all configs?
I am seeing a server reporting the "invalid character" error when one of the server connects to another server to the client port, instead of the route port. In debug, I see that the routes are recreated constantly from the server with wrong config with a "Detected duplicate remote route"

[2016-05-11 20:22] awdrius commented on #270
@derekcollison Attached log [10.21.0.9.verbose.zip](https://github.com/nats-io/gnatsd/files/260166/10.21.0.9.verbose.zip)

@kozlovic The config file (second one) in my first post is what all 30 slaves are using (it's a template and the only part that's dynamic is # Managed by startup script one).

Just a random thought but looking at the verbose log could it be that because all 30 (+3 seed) instan

[2016-05-11 20:38] kozlovic commented on #270
Thanks for the log, would you please provide the log for `10.21.0.2`?

Are you able to have a successful deploy or is it always end-up like this? If you try to bring one server at a time, do you still get this issue? Thanks!

[2016-05-11 20:59] kozlovic commented on #270
@awdrius I think I was able to reproduce the issue with "invalid character" with lots of servers (with correctly connecting to the route port). I will keep you posted. Thanks again for the report!

[2016-05-11 21:08] awdrius commented on #270
@kozlovic That's good news (not that it's good it happens (-. ). Let me know if you need any help.

[2016-05-11 21:09] kozlovic commented on #270
Will do. In the meantime, if you want to experiment and see if works better deploying one server at a time...

[2016-05-11 21:38] kozlovic commented on #270
@awdrius I have made some progress, so don't waste your time experimenting. I should get an update on the next step by the end of the day.

[2016-05-11 21:53] awdrius commented on #270
So I tried getting a similar behavior while bringing slaves online one by one and got the same thing.

I started gnatsd on all three mesos masters to act as a seed nodes. Checking /routez confirmed that they all are fine. Then I got one of slaves gnatsd process online with no issues and nor errors in any of the logs. Once I started the second gnatsd process on a second slave all three initial node

[2016-05-11 21:54] awdrius commented on #270
@kozlovic Good to know. I didn't get notified about your message so posted that nice wall of text (-.

[2016-05-11 21:55] kozlovic commented on #270
@awdrius That's fine, sorry for the trouble. I think I have identified the issue and submitted PR #271 that should address this.

[2016-05-11 21:58] awdrius commented on #270
Awesome. I'm happy to be helpful.

[2016-05-11 23:17] #270 closed

[2016-05-11 23:20] derekcollison commented on #270
@awdrius Feel free to pull from master, 0.8.1 and let us know if the issue is corrected. Thanks again for the feedback.

[2016-05-11 23:40] 1N50MN14 opened #272 "dynamic routes?"
I've set up a simple cluster where nodes are dynamically launched (one by one) and my docker container populates the routes (pulled from a service discovery) and appends them to `gnatsd.conf` prior to launching `gnatsd` itself in each node.

That's basically emulating `Example: Setting a gnatsd cluster one by one` per http://nats.io/documentation/server/gnatsd-cluster/ except that it's automated.

[2016-05-12 00:00] awdrius commented on #270
@derekcollison Cloned repo and build. Binary report version 0.8.0beta2 but I can confirm that fix is in place by checking changed source file. Then deployed it to 3 seed nodes and 30 slave nodes. I can confirm that I do not see a bunch of cascading errors anymore and /routez reports 32 routes and that number is no longer jumping. I do still see errors in log files.

master-1 (10.21.0.2):
[code]

m

[2016-05-12 00:15] derekcollison commented on #270
Master builds should report 0.8.1 version, can you double check?

[2016-05-12 00:17] kozlovic commented on #270
Yes, either those are older logs (I am not sure you would be able to get the full mesh with the prior bug) and the version should definitively report something else. Maybe some caching issue?

[2016-05-12 13:32] awdrius commented on #270
I build gnats fallowing *Building* of the docs (go build). I now have a version built using Dockerfile in git repo root and will deploy it shortly.

As for 0.8.0beta2 I restarted one gnatsd instance on one of the slaves and I got that cascading thing again (with /routez reporting num_routes jumping up and down) but it stabilized after couple of seconds.

I'll follow up with the results of the 0.8.

[2016-05-12 14:29] awdrius commented on #270
@derekcollison @kozlovic I can confirm that it works flawlessly with gnatsd 0.8.1. No more errors in logs, no more route number going up and down upon a single gnatsd instance restart.

Apologies for the false alarm previously and thanks for the quick turnaround.

[2016-05-12 15:17] kozlovic commented on #270
Glad to know it works now! And again, thank you for the report.

[2016-05-13 11:30] 1N50MN14 commented on #272
Never mind, restarting manually

[2016-05-13 11:30] #272 closed

[2016-05-13 11:37] 1N50MN14 opened #274 "Detected duplicate remote route error that shouldn't happen?"
Given `Server A` with a route to `Server B` and `Server B` with route to `Server A` I get the error `Detected duplicate remote route "KogwJt2tTIGO8E0blTrqlT"` this shouldn't happen pr http://nats.io/documentation/server/gnatsd-cluster/

But if I don't set any routes of `Server A` and set one route from `Server B` to `Server A` then the issue doesn't happen, problem then is that if I publish to `Se

[2016-05-13 12:50] derekcollison commented on #272
There is no way to programmatically add routes at this time, but it is fairly easy to build a cluster with auto-discovery and seed nodes.

https://github.com/nats-io/gnatsd/blob/master/README.md#clustering

[2016-05-13 12:52] derekcollison commented on #274
Given Server A and Server B, there needs to be one connection between them. When you configure A to solicit B, and B to solicit A, if both connect at the same time the system will prune the duplicate route connection based on server ids.

[2016-05-13 12:52] #274 closed

[2016-05-13 13:07] 1N50MN14 commented on #274
So given Server A is launched first, Server B is launched afterwards and it establishes a route to Server A, if I a client connected to Server A publishes a message to a topic, subscribers connected to Server B do not reveive the message. It's like the route is a one way connection, the other way around (publishing to Server B) delivers the message to topic subscribers on both Server A and Server

[2016-05-13 13:25] derekcollison commented on #274
No that is not expected. Any route is full duplex, meaning interest and data flow the same way regardless of who solicited and created the route.

[2016-05-13 13:31] kozlovic commented on #274
The only caveat would be if you pulish before the route is fully established (server with subs interest sending its interest to peer).

[2016-05-13 14:14] 1N50MN14 commented on #274
Oh I *think* this might be it @kozlovic!! more precisely the subs - the below code would result in the message being delivered to the first server only (nc1), however, if I wrap `nc1.publish()` with a timeout then both clients receive the message. The route between both servers is long established.

[code]

[2016-05-13 14:34] derekcollison commented on #274
Since the code is in Node.js, and by default is asynchronous, there are no guarantees with the current code that the state has propagated from the client to the cluster. All that can be guaranteed from above is the the subscription for nc1 will happen before the publish to nc1 since order is preserved and guaranteed on a per connection/client basis. So you are guaranteed to get the message on nc1.

[2016-05-13 19:32] 1N50MN14 commented on #274
Got it I now understand how this works thanks @derekcollison.

Two last questions if I may:

1. What happens to subscriptions when the client loses and recovers connection to the server, i.e. do I need to listen to `reconnect` and re-establish the subs or is that handled internally; if so is that also the case when the client reconnects to a different server (passing `servers` to the constructor).

[2016-05-13 19:39] kozlovic commented on #274
1. Handled by the library. On reconnect, subscriptions are automatically resent.
2. Yes, should work. See 3.
3. No, but we have plan for cluster info to be asynchronously sent to clients when topology changes, so that client library can update the list of its server in case of a reconnect.

[2016-05-13 19:48] 1N50MN14 commented on #274
Awesome this clarifies things for me, thank you very much for the help!

[2016-05-14 16:02] markuslindenberg commented on #243
I had a closer look at gnatsd's `/varz`. It's conceptually broader than what Prometheus' `/metrics` does as Prometheus only deals with float64 timeseries. So yes I agree a seperate component is the best option to get gnatsd metrics into Prometheus right now.

Prometheus calls those components *exporters*, so I have created a [nats_exporter](https://github.com/markuslindenberg/nats_exporter). Curre

[2016-05-17 20:09] danielwertheim opened #277 "Differentiate between recoverable and non recoverable ERR"
Documentation states that most `-ERR` replies are non recoverable. Would be great to differentiate between these, e.g: `-ERR` vs `+ERR`; that way you as a client developer would know if you immediately should try and reconnect or if you should `PING` to see if still alive.

[2016-05-17 20:14] danielwertheim opened #278 "Send only one ERR"
When e.g. sending a completely invalid command like `FAIL` it would make more sense as a client dev to only get one `-ERR` back. Otherwise we need to "try" and read out a potential second `-ERR` to let any subscribers know of all possible `-ERR` ops, which to me makes no sense to me. If we should fail fast, then one `-ERR` should mean: _"optionally check state and/or reconnect according to what th

[2016-05-18 01:58] derekcollison commented on #277
-ERR is a parseable state from a client's perspective. If the server state is not recoverable then the server will swiftly terminate the connection after the ERR message has left the server.

[2016-05-18 01:58] #277 closed

[2016-05-18 02:00] derekcollison commented on #278
We do swiftly close the connection since the server can not recover, but I agree we only need one ERR. Thanks, will see about a fix.

[2016-05-18 05:08] danielwertheim commented on #277
The idea would be if you get `-ERR` you know as a client dev, you could terminate immediately and potentially reconnect, since the server indicates non recoverable `ERR`, even by the first char `-`.

`+ERR` (or something) would mean, you might still be alive and should check.

**From docs:**
Protocol error messages which do not close the connection:
- -ERR 'Invalid Subject': Client sent a malforme

[2016-05-18 05:33] derekcollison commented on #277
We want that with the server, and is subject to change. So as a client, when you process an error, assume nothing, don't check anything. If the server can not recover it will terminate the connection. In the future we reserve the right to possibly recover the state and not have to terminate.

[2016-05-24 14:58] kozlovic opened #286 "Add log rotation capabilities"

[2016-05-25 23:41] wallyqs opened #288 "Publishing on invalid subjects allowed regardless of pedantic mode"
With pedantic mode, we can get notified of errors due to sending control lines containing invalid subjects, though the server is still waiting to consume the full message payload and dispatches the message to any present wildcard subscribers.

[code]

/cc @derekcollison

[2016-05-26 16:53] kozlovic opened #289 "Server can send "authorization timeout" to client after accepting its CONNECT"
In some race conditions, I believe that it is possible for the server to still send an authorization timeout (and close the connection) to a client after accepting its `CONNECT` protocol and responding to a `PING`. The issue is that then the client receives this error through its readLoop (not during the connect/reconnect handshake) which causes the client library to close the connection, preventi

[2016-05-26 17:17] ColinSullivan1 commented on #289
For some additional context, this was likely occurring by a user who was running servers on windows VMs with limited resource issues, and hitting various corner cases around timing with reconnects.  I updated the .NET client to account for this, but moving forward, should defensive code for this be added to all of the clients to handle this?  Today, as mentioned above, they'll close their connecti

[2016-05-30 00:26] dncohen opened #290 "Is gnatsd/server/pse/pse_${GOOS}.go essential?"
New to gnatsd (nats-server), and one of my dev boxes happens to be openbsd.

In order for `go build` to succeed on openbsd, I copied pse_solaris.go to pse_openbsd.go.  With that, I was able to build, run, and follow the telnet "hello world" example.  Totally working.

Or is it?  What I am missing by having just a stub implementation of pse_openbsd.go?  Under what circumstances do pse.ProcUsage res

[2016-05-31 12:11] derekcollison commented on #290
The pse_* is to extract memory and cpu usage for the monitoring endpoints. Functionally this is fine to be stubbed, but we recommend implementing for any production use such that the monitoring of cpu and memory can be tracked via the /varz endpoint.

[2016-05-31 12:11] #290 closed

[2016-06-01 21:50] kozlovic opened #291 "Ability to use TLS connection right away"
Even if the server and clients are configured to use TLS, the first protocol message sent from the server to the client(s) is in plain text.

That is, when a client initiates the tcp connection, the server when accepting it, sends its `INFO` protocol message in plain text. This prevents the use of some ssl clients (tooling?) or haproxies that require only TLS traffic.

If this is accepted, all cli

[2016-06-01 21:55] edsiper commented on #291
:+1:

[2016-06-01 22:08] dramdass commented on #291
Thanks for filing this. This would also enable tls SNI routing of the box.

[2016-06-07 17:58] nickcarenza opened #295 "v0.8.0 panic: concurrent map read and map write"
just upgraded a cluster form 0.6.6 to 0.8.0. started seeing this in the first day.

see log attached
[gnatsd-panic.txt](https://github.com/nats-io/gnatsd/files/303230/gnatsd-panic.txt)

cluster size is 3, all running 0.8.0

[2016-06-07 18:53] ColinSullivan1 commented on #295
@nickcarenza, could you try with the master branch?  This looks to be fixed by https://github.com/nats-io/gnatsd/commit/1eb12a1501d837825e87c296c239de842357184f

[2016-06-07 19:12] nickcarenza commented on #295
built master and deployed, will keep an eye out. thanks @ColinSullivan1

[2016-06-07 19:43] #289 closed

[2016-06-08 22:47] nickcarenza commented on #295
seems to have fixed the problem. thanks.

[2016-06-08 22:47] #295 closed

[2016-06-08 23:21] nickcarenza opened #296 "feature request: identify slow consumers from server"
On the /varz monitoring endpoint I see a slow_consumer count > 0 but I don't see a way to identify which client client is the slow consumer. The nats client _does_ call the async error callback when it detects it is a slow consumer.

What are your thoughts on adding this to monitoring on the server side?

[2016-06-09 04:07] derekcollison commented on #296
To monitor it on the server side we would need to hold state for the connection, but on slow consumer we close the client connection, hence the reason that the reporting is only on a global scale across all connections.

Most clients should report that they were signaled as a slow consumer when they report the connection was closed from the server.

[2016-06-09 11:57] jjp91 opened #297 "Install issue"
Hello,

When installing by the command .
go get github.com/nats-io/gnatsd

Got this error
src/github.com/nats-io/gnatsd/conf/parse.go:204:20: error: reference to undefined identifier ‘os.LookupEnv’
  if vStr, ok := os.LookupEnv(varReference); ok {

Thank you

[2016-06-09 13:02] nuss-justin commented on #297
The os.LookupEnv function was added in Go 1.5, but you are using an older version. Please try to build gnatsd with Go 1.5 or newer (current version is 1.6.2).

The README currently says that Go 1.4+ is required, but even the .travis.yml only checks Go 1.5 and 1.6. I will send a PR that updates the README to say that Go 1.5 is required.

[2016-06-09 17:44] jjp91 commented on #297
Ok,

Thank you,

[2016-06-09 17:44] #297 closed

[2016-06-09 19:00] nickcarenza commented on #296
ah, that makes sense. i was wondering then why the server is still reporting it has a slow consumer. i actually can't find anywhere in code where the number is decremented.

this is where it gets incremented:
https://github.com/nats-io/gnatsd/blob/f2c17eb159e1fcc5859b25b632a60c26506f0665/server/client.go#L796

will the server just always report the total number of slow subscribers it has ever had.

[2016-06-09 19:03] derekcollison commented on #296
Yes the server just keeps track of those signals. Regular polling of the endpoint will allow you to track deltas, etc.

[2016-06-09 19:17] #296 closed

[2016-06-09 19:19] derekcollison commented on #288
Need me to fix for bug fix release?

[2016-06-09 19:25] derekcollison commented on #288
I can easily fix for pedantic mode only for now, and we can revisit.

[2016-06-09 19:29] #288 closed

[2016-06-20 10:39] hardcoar opened #302 "[Feature Request] DCOS support"
Is there any support for Mesos DCOS?

kudos to NATS team!

[2016-06-20 14:46] derekcollison commented on #302
The server should run on DCOS, but we do not have any official support configs, etc.

[2016-06-20 14:46] #302 closed

[2016-06-21 18:54] rrichardson opened #303 "Documentation for client behavior in clustering mode?"
http://nats.io/documentation/server/gnatsd-cluster/ notes that there is a clustering mode for performance, high-availability and resiliency.  As I understand it, the latter two features would require that a client replicate their message to more than one server in the cluster simultaneously.

If clients send out a single message at a time,  does it wait for failure before trying a new node?
If not

[2016-06-21 19:09] derekcollison commented on #303
You can present a list of NATS servers to most clients. Clients will connect to a single NATS server and only send messages to that server. If the connection fails most clients will buffer messages while connecting to another server in the list. Upon succesful connection it will send the buffered messages to the new server.

Node.js example.

https://github.com/nats-io/node-nats#clustered-usage

[2016-06-27 15:56] khera opened #304 "the style sheet for http://localhost:8222/ has non-ascii curly-quotes"
When you fetch the `/` URL from the control port (8222) it gives you a simple HTML document with links to the other "real" endpoints. The style sheet in that document contains fancy curly-quotes:

[code]

Note the quotes around Century Gothic. The first is UTF8 e2 80 9c and the second  is UTF8 e2 80 9d. They should be plain old double quotes as the document itself does not declare UTF8 encoding.

[2016-06-28 13:54] SuperQ opened #306 "Support "Prometheus" style metrics"
It would be useful to include Prometheus[0] metrics directly in NATS.  This avoids the need to run external exporters.

[0]: https://github.com/prometheus/client_golang

[2016-06-28 15:43] derekcollison commented on #306
We have had this request a few times and it is under consideration. There is an external third-party adaptor already AFAIK.

[2016-06-28 15:43] #306 closed

[2016-07-18 18:59] seregayoga opened #310 "Test TestPSEmulation fails when runs without -race parameter"
Environment: go 1.6.2, ubuntu 16.04 64-bit.

without `-race`:
[code]

with `-race`
[code]

[2016-07-18 19:12] #310 closed

[2016-07-20 17:48] rybit opened #312 "monitoring subjects as they're created"
I want to build a monitoring tool that will let me know what data streams there are available in the system. Not only those that already have subscribers. This way I can hook up a subscriber and monitor the channel.

Think of the use case being that I have some bots that are streaming their logs to subjects and I want to be able to list what those are. Then maybe hook into them.

A few ways that w

[2016-07-20 19:00] derekcollison commented on #312
So you are interested in data flow presence, not interest or subscription presence, correct?

The monitoring endpoints can give you visibility in the interest graph (subscriptions), and there are several ways we could optimize that, however they do not give insight into data flow (published messages and their subjects). For that, the only current way would be to use a wildcard subscription.

Note

[2016-07-25 23:31] rybit commented on #312
That does help! I do have my logs all split by topic and group, I'll be using smarter wildcards.

I was wondering if there was some kind of way I could subscribe, but shallowly? Getting only the metadata (not the actual message payload) for a given message.

[2016-07-25 23:44] derekcollison commented on #312
Currently there is no way to subscribe but limit the payload, but interesting to think about. Would require a protocol update.

[2016-08-01 15:03] pldubouilh opened #315 "Support WebSocket Connectivity"
Hi,

At @gretaio, we need our signaling server to talk with web browsers, and in order to perform this, we setup a small proxy to gateway websocket to tcp so it can talk to nats.

I saw on the todolist that you plan on adding a websocket strategy, and that's something we would greatly appreciate as that'd basically half the number of connections we need to have open :+1:.

So, would you be open to

[2016-08-01 15:07] derekcollison commented on #315
Always open to PRs, have you looked at the NGINX plugin though? That may fit the bill.

https://github.com/nats-io/nginx-nats

[2016-08-01 15:41] pldubouilh commented on #315
According the last tests we did, nginx can only forward and keep a websocket connection open, and it still needs a server to operate the full websocket handshake…

Alright then, we'll see what we can do !

[2016-08-01 15:50] derekcollison commented on #315
Thanks for the information. We have a strategy session this week on NATS, so will discuss for sure.

[2016-08-01 21:26] kozlovic commented on #126
I believe this is now fully addressed with following merged PRs: server: https://github.com/nats-io/gnatsd/pull/314, go client: https://github.com/nats-io/nats/pull/209

[2016-08-01 21:26] #126 closed

[2016-08-02 20:39] mcqueary opened #317 "Introduce account concept"
An **account** encapsulates (and associates with) a set of users, a dedicated subject namespace, and dedicated multi-user subject authorization rules.

[2016-08-04 19:35] kozlovic commented on #303
Keep in mind that NATS does not offer at-least-one guarantee (but [NATS Streaming](https://github.com/nats-io/nats-streaming-server) does).
Therefore, the publish API returning successfully does not guarantee that the message is going to be redelivered.
You can ensure end-to-end delivery by using the Request/Reply pattern. The requestor would wait for a reply from the application processing the re

[2016-08-04 19:35] #303 closed

[2016-08-10 11:58] CKing opened #320 "Allow listening on unix sockets"
If I use a service only on localhost, i don't like blocking a port and prefer using a unix socket instead.
Is it possible to add unix sockets for listening on connections?

[2016-08-10 13:26] pldubouilh commented on #315
Alright, so we have integrated our gateway code into nats. So basically for each ws connection we have incoming, we pop a tcp connection to nats. It's close to what we had before, but this time we wrote it into nats.

It's far from being an ideal solution (it's more of a proof of concept) but it's working, and  at least it allows us to scale up if needed. Did you get any outcome at the session by

[2016-08-10 13:36] derekcollison commented on #320
While possible, there is no performance advantage on modern linux kernels to really warrant the additional code. You can specify which network you would like to bind the listen port.

[2016-08-10 13:36] #320 closed

[2016-08-10 13:39] derekcollison commented on #315
You can multiplex the ws connections through one or a small group on NATS TCP connections.

We did discuss and it will be added to the roadmap. Timing is unclear since we have higher priority items that are above this.

[2016-08-11 11:32] ripienaar opened #321 "link local v6 addresses in announced server list"
Using latest gnatsd and the ruby gem I noticed the announced list includes link local addresses:

[code]

Link locals are not reachable from anywhere and so should be filtered, I confirmed these are announced to clients too:

[code]

[code]

In the gnatsd config I do not tell it to bind to any particular address so it'll bind everywhere which is desirable, but it shouldn't include link locals in t

[2016-08-11 13:36] kozlovic commented on #321
@ripienaar Thanks for the feedback and you are absolutely right. This will be addressed.

[2016-08-12 14:57] kozlovic opened #322 "Add a parameter to disable sending async INFOs"
This is in reference to https://github.com/nats-io/ruby-nats/issues/127

We should have the ability to disable the push of cluster's IPs to clients, even the one that support receiving async INFOs. A server-side parameter has been discussed as the best option.

[2016-08-12 21:53] kozlovic opened #323 "Unable to use IPv6 for cluster + deadlocks on failed start"
Trying to have the server listen for routes on IPv6 address fails:

[code]
Notice also that the port printed is the client port, not the route port.

Also found that there was cases where `s.Shutdown()` would block on startup failure scenario.

[2016-08-12 22:19] #321 closed

[2016-08-12 22:20] #323 closed

[2016-08-16 00:27] #322 closed

[2016-08-16 16:44] kozlovic opened #327 "Server panics with concurrent monitoring of endpoints"
Here is the stack:

[code]

[2016-08-17 04:31] #327 closed

[2016-08-17 09:28] lakedxta commented on #315
github.com/Terry-Mao/goim  Supports multiple protocols (WebSocket，TCP，HTTP）

[2016-08-17 22:46] kozlovic opened #331 "Data RACE on Unsubscribe and connection close"
TestServerRoutesWithAuthAndBCrypt
[code]

[2016-08-18 04:04] #331 closed

[2016-08-22 23:50] derekcollison commented on #315
Some good thoughts, we are still looking at providing the Node.js like API over websockets.

[2016-08-23 23:10] delfick opened #334 "Documentation for the cluster protocol"
This is a transferal of https://github.com/nats-io/nats/issues/215, which should have been created here.

---------

Hi,

We have a situation where we have gnats instances in a mesos setup, which means gnats instances can be killed and moved to somewhere else in the cluster at random times (i.e. a mesos slave going down).

We are currently running our gnats such that the --cluster is the same port

[2016-08-23 23:51] kozlovic commented on #334
I would really recommend using different ports for the client and route connections. Since by default the server will listen to any interface (if you don't specify `-a`, it listens to `0.0.0.0`) for the client connections. For the route, it will be what you specify in `-cluster`.
If the other server that tries to connect is given an interface that is not the one of the cluster, but one that `0.0.0

[2016-08-24 00:29] delfick commented on #334
Ok, so the good news is my eyes need checking and we actually are already using different ports in production for --cluster and -p. So that's actually not a problem we have :)

We've also decided to set up a situation where we have 1 seed gnats that sits there purely listening  on a --cluster port and several non-seed gnats that do the actual work.

Where the seed gnats has a --route pointing at t

[2016-08-24 00:43] kozlovic commented on #334
From what you wrote, it sounds like the non-seed servers access to the seed IP? If so, then this should be enough. Note that you could have more than one seed server for HA. The non-seed servers could have `-routes nats://seed1:port,nats://seed2:port`.
I guess that you mean that the seed could try to connect to one of the non-seed (with url pointing to load balancer) so that if the seed gets separ

[2016-08-24 02:59] ColinSullivan1 commented on #334
Documentation of the protocol is underway.

[2016-08-24 03:01] delfick commented on #334
awesome, thanks!

[2016-08-25 06:18] steventanwc opened #335 "Authentication in Nats server"
Is there a way that I can add multiple users credentials to the config file (or any other way) without having to restart the server???

[2016-08-25 14:22] kozlovic commented on #335
Not at the moment. I believe that there are plans to have the NATS Server reload the configuration file on a signal without dropping client connections. This would be limited to a certain number of configuration parameters, but authentication may be one of them. We will keep you posted.

[2016-08-25 17:23] MikaelSmith commented on #129
This is an area I'm interested in as well. It's a little more complex, but you might find [trapperkeeper-authorization](https://github.com/puppetlabs/trapperkeeper-authorization/blob/master/doc/authorization-config.md) an interesting example of authorization rules.

[2016-08-25 18:19] MikaelSmith opened #336 "tlsverify doesn't do what it says it does"
The `tlsverify` option states `Enable TLS, verify client certificates`. However in practice, it only requires that a client has a certificate, not performing any verification of the certificate.

Verification usually includes that a certificate is signed by a certificate chain that can be traced back to registered certificate authorities. gnatsd only [does that for other servers](https://github.co

[2016-08-25 19:10] MikaelSmith commented on #336
Also, pretty sure "server can be configured with a CA authority to verify the client certificates" is also incorrect.

[2016-08-25 19:19] kozlovic commented on #336
Would you mind elaborating? As a quick experiment, I changed `ClientAuth` to `RequireAndVerifyClientCert` and added `ClientCAs = opts.TLSConfig.RootCAs` during the parsing of TLS section and it seems to be working (without the last part, I would get a failure when `ClientAuth` is now set to `RequireAndVerifyClientCert`. Do we need a dedicated entry for the client CA you think?

[2016-08-25 19:27] MikaelSmith commented on #336
You're quicker than I at setting up a test environment :)

If you really want client certificate verification, then you need to use `RequireAndVerifyClientCert` and a way to set a Client CA. So that could be useful. As I said at the end, I'm not sure verification is required if you assume authentication is done via username/passwords. But I don't see the downside in enforcing certificates come fro

[2016-08-25 22:44] #336 closed

[2016-08-26 02:51] steventanwc commented on #335
Thank you. Urgently needing this feature as currently one user credentials can only allow a single logon.

So means we have to run the server without authentication and hence not secure.

[2016-08-26 02:56] steventanwc commented on #317
Yes. I concur with this. Currently NATS cannot be used in a secure authenticated way for multiple users whom may connect without us knowing their credentials prior to the start of the server.

We need the account so that users can be added dynamically without having the server to restart and be able to authenticate them.

[2016-08-26 04:29] kozlovic commented on #335
Not sure about the reference to "one user credentials can only allow a single logon", but to reiterate, NATS supports multi-user authentication and authorization, however, it does not support reload of the configuration without restart at the moment.

[2016-08-26 05:22] steventanwc commented on #335
Meaning only one connection can use 1 user and password combination. No other connection can use this credentials again while the first connection is still connected. 
So if I have 100 multi users credentials when server startup, 101 user cannot be authenticated and cannot be connected. 

Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: Ivan Kozlovic <notifications@g

[2016-08-31 16:08] mcqueary opened #338 "Hot configuration reload"
`gnatsd` should support reloading (parts of) its configuration without requiring a restart.

[2016-09-01 04:54] ofpiyush opened #341 "Is support for other messaging protocols planned?"
MQTT in particular looks rather simple to implement with light refactoring and some code.

From a quick read, the feature spec of MQTT looks divided between NATS streaming server and gnatsd.

Apart from minor differences like the separators, wildcard tokens and a couple of missing (exactly once delivery), it looks pretty doable. MQTT's version of gnatsd zero allocation parser looks fairly doable a

[2016-09-01 05:25] ofpiyush commented on #338
A public interface would help.

One could then implement reloads from a config store like [etcd](http://github.com/coreos/etcd)

[2016-09-01 15:49] mcqueary opened #342 "Associate user with connection in /connz"

[2016-09-01 15:52] mcqueary opened #343 "Client pruning/rebalancing"
The server/cluster should be able to rebalance clients after the cluster composition changes, either through adding servers to the cluster, or after a failover event within the cluster.

[2016-09-01 16:02] mcqueary opened #344 "Auto-unsubscribe should be atomic with SUB operation"
Currently, auto-unsubscribe requires 2 protocol operations:

`SUB <subject> [queue group] <sid>\r\n`

followed by:

`UNSUB <sid> [max_msgs]`

Ideally, auto-unsubscribe would be atomic with the subscribe op, e.g.:

 `SUB <subject> [queue group] <sid> [max_msgs]\r\n`

[2016-09-01 16:05] mcqueary opened #345 "Integrate Prometheus"
The server should integrate with [Prometheus](https://prometheus.io/) to allow easy alerting/visualization and other customization support.

[2016-09-01 16:08] mcqueary opened #346 "Rate limiting"
In order to support SLAs, billing and 'fairness' in shared deployments, The server should implement rate limiting. Rate limiting would control the rate of ingress to ensure that we can cap the number of msg/sec or bytes/sec at specific limits.

[2016-09-01 16:32] mcqueary opened #347 "Support org or account grouping of resources"
Multi-tenancy presents special challenges to performance SLAs, data segregation, monitoring, billing, and security administration in a shared messaging infrastructure. NATS should support an org or account grouping that would allow (for example):
- Assigning users to an "account" or "organization"
- Billing by aggregate account usage (messages, connections, etc)
- Rate limiting by aggregate accoun

[2016-09-01 16:33] mcqueary opened #348 "Namespace isolation by account"
See #347 for context.

[2016-09-01 17:41] mcqueary commented on #317
Superseded by #347 & #348

[2016-09-01 17:41] #317 closed

[2016-09-01 22:07] ColinSullivan1 commented on #334
Resolved with https://github.com/nats-io/nats-site/pull/151.

[2016-09-01 22:07] #334 closed

[2016-09-01 23:59] delfick commented on #334
Excellent, thank you!

I'm also happy to report that gnats under 0.9.4 and the new configuration I mentioned before (one seed server seperate to the cluster that does the work) is a lot more stable than before :)

[2016-09-02 00:33] kozlovic commented on #334
@delfick Thank you for the confirmation, and the good news 😄

[2016-09-07 09:53] aby2503 opened #350 "Problem with frozen request/response"
Hi, I'm not sure about uniqueness of this issue. I think it can be related to this one https://github.com/nats-io/gnatsd/issues/216.
In some cases, when I send simple request from CLIENT1 to topic "A", which is observed by CLIENT2, server can handle it after undetermined peace of time( I tested it on local server with 2 subscribers, so load is low). Even more - such freezing requests can accumulat

[2016-09-07 14:17] kozlovic commented on #350
The issue you reference had to do with the application not making sure that the subscription was registered in the server before starting sending message. This is something you need to check indeed.

The other issue I would point to is this: [jnats issue 5](https://github.com/nats-io/jnats/issues/5). It may be more relevant to your problem.

Lastly, if none of those seem to solve the problem, plea

[2016-09-08 06:48] simonrussell commented on #338
It would be actually quite useful if one could publish a new configuration to a configuration subject, which the server would pick up.  (And a subject you can subscribe to for info about config updates.)

[2016-09-08 06:52] simonrussell opened #351 "Request/idea: expose more internals through NATS protocol"
The idea here is to get the ability to see status and potentially control NATS through the NATS connection itself.  So special subjects which show clients connecting/disconnecting, memory usage stats.  Potentially an endpoint to send configuration updates to.

The existing authorisation framework could be used to lock this down, or alternatively a new "admin" role could be introduced so only certa

[2016-09-08 07:53] simonrussell commented on #344
I'd also put in a similar request for a PUB operation to allow for auto-subscribing to the reply subject, potentially with an optional max_msgs.

[2016-09-08 15:14] kozlovic commented on #350
Have you upgraded your client to at least `0.3.1`? Did that solve the issue?
I am going to client this issue now. Feel free to post an update and we will re-open then.

[2016-09-08 15:14] #350 closed

[2016-09-08 15:17] mcqueary commented on #351
@simonrussell Basically `CONTROL` messages. I like the general idea. @ColinSullivan1 and I have discussed it before, although not recently. Deserves some further discussion, although right now it doesn't seem pressing.

[2016-09-09 08:00] simonrussell commented on #351
Yeah, I agree it's not pressing; just seems like it would round things out a bit.

[2016-09-09 08:03] simonrussell opened #352 "Request/idea: dead letter subject for messages posted nowhere"
Basically borrowed from Akka (possibly elsewhere): a subject that receives messages that aren't delivered to an open subscription.  Could be configurable to only match a particular filter; could be possible to have multiple dead letter endpoints.

The idea is that you can see which messages were sent to a subject which no-one is subscribed to.  Clearly this would only be useful in some scenarios,

[2016-09-13 03:29] #304 closed

[2016-09-16 18:50] kozlovic commented on #335
Closing this issue for now. Please follow #338. When this is implemented, that should solve your issue.

[2016-09-16 18:50] #335 closed

[2016-09-21 08:35] chowyu08 opened #354 "message subject authentication"
- Multi-Tenant for user and subject
- Provide a file-based implementation that can authenticate   users  which message's subject can be subscribed .

[2016-09-21 17:11] derekcollison commented on #354
This exists today in master.

[2016-09-23 07:43] chowyu08 opened #355 "client reconnect failed"
1.  when the router or cluster send end our info to the other side [here](https://github.com/nats-io/gnatsd/blob/master/server/route.go#L417) the infoJson only include ip:port , when the local nats-server down,  if the route other side  has the username and password , client will doReconnect failed.
could you modify the code [to](https://github.com/nats-io/gnatsd/blob/master/server/server.go#L896)

[2016-09-23 15:22] kozlovic commented on #355
1. It is intentional that the server does not return usernames and passwords in the connected URLs. Furthermore, we would not be able since we support multi-users.
Even if you decide to fork and do the above in your own repo, I need to warn you about the danger of doing the above. First, it is working only for single users, not multi-users. Also, think of this use case: server A has user userA/pas

[2016-09-23 15:24] #355 closed

[2016-09-27 12:28] arden opened #357 "this can support browser?"
this can support browser?

[2016-09-27 13:29] alexandreStein commented on #357
I think your not at the right place.
This is the server repository and you are looking for client.

I think you should look at [websocket-nats](https://www.npmjs.com/package/websocket-nats).

Never tested myself

[2016-10-04 17:27] arekkas commented on #345
Yes that would be awesome! A lot of issues in distributed systems are due to partial errors or network errors and it would be great to have some native way of investigating these things. Maybe even some sort of plugin (coming with Go 1.8 iirc) feature that allows one to implement this logic.

Are there any more concrete plans for this?

[2016-10-05 10:28] jjp91 opened #359 "Tagged messages"
Hello

This is a request.
The idea is to save bandwidth over internet, save CPU from server (crypted mode) to not send some messages, simplify the server administration by less create subscription and unsubscription.

To be able to ask after a subscription to NOT receive (on a particlar subscription) certain tagged messages, tag would be in the first 2 or 4 bytes of the messages.

This would be us

[2016-10-06 19:42] Nicolab commented on #346
May be using [TC](https://en.wikipedia.org/wiki/Tc_(Linux)) ((traffic control))

[2016-10-13 20:29] mcqueary opened #361 "Config file import support"
Need ability to import segments of the config file separately, e.g.:

gnatsd.conf:

[code]

tls.conf contents:

[code]

[2016-10-22 16:14] oaStuff opened #365 "Round robin"
Will there ever be support for round robin among subscribers in a queue group. the random selection is not PERFECTLY fair.

[2016-10-22 17:26] derekcollison commented on #365
I had always though round robin was efficient til I got to Google where they always (may have changed) random since they did not know the efficiency of the endpoints. NATS is the same way, we do not know the nature of the endpoints so RR would not correct, random is the way to go.

[2016-10-22 17:26] #365 closed

[2016-10-22 22:12] oaStuff commented on #365
Well .... Ok. I think the argument goes both ways. Since the efficiency of each endpoint is unknown,   RR could still be used without carrying much. You could randomly pick an endpoint that is inefficient and pick in more often while randomizing (that is possible). If RR was used the inefficient endpoint(s) would be guaranteed not to be picked more often than others (every endpoint will have a fai

[2016-10-23 00:53] derekcollison commented on #365
I certainly understand the argument, and again, this is what Google chooses who has way more data than most. They always choose random.

[2016-10-24 20:16] oaStuff commented on #365
OK. Seems like Google is becoming the web standard. The beauty about open source is that you can grab the code and modify it in different ways. So i just added RR to gnatsd and it works perfectly as i expect it to.

[2016-10-25 21:58] oaStuff commented on #365
The modified code that supports RR can be found https://github.com/oaStuff/gnatsd/tree/aihe-dev

[2016-11-03 18:09] joeblew99 commented on #315
Also there is this: https://github.com/sohlich/nats-proxy

[2016-11-04 04:15] qrpike opened #369 "Client Auth API"
Nats seems perfect for our needs, however having auth hard coded on service start isn't very practical when we are adding and removing users while its running.

Implementing some go code to handle this is 1 option, another is to use an external service for authorization. Whether it's HTTP basic auth, etc. Being able to set an authentication endpoint would be very handy. Especially since we only al

[2016-11-04 12:32] vkhorozvs opened #370 "Need ability to configure ping_interval and ping_max"
Could you make it possible to set ping_interval and ping_max in a config file (command line would also be appreciated)?

A default setting of 2 minutes for ping_interval and 2 ping_max are not suitable for some use cases.  For example, for integration testing purposes I'd like to set smaller values to validate how our system behaves under different negative scenarios.

[2016-11-04 15:32] kozlovic commented on #370
Looks like we have a PR for that: https://github.com/nats-io/gnatsd/pull/187. However, it looks like the contributor did not provide a test case and PR was never merged. Will ping him again and see if he is still interested in contributing or if we need to take over.

[2016-11-10 06:30] riaan53 opened #371 "Gracefully take NATS node out of cluster"
Hi,

If I need to perform maintenance on the node running a NATS server that forms part of the big cluster or I need to change the certs how would I take it out of the cluster without loosing messages/upsetting client connections?

Thank you!

[2016-11-14 14:27] joeblew99 commented on #315
@derekcollison
If your thinking about a nodeJS client, then you might also want to think about writing it in Dart.
Why ?
- Dart compiles to JS, so it will work with nodejs. there are some slight tweaks for IO, but there is a dart lib that supports nodejs.
- You get a Dart client. That means you support web clients, mobile clients (flutter), and angular-dart suooported. Also it means that server si

[2016-11-15 23:03] kozlovic commented on #370
Addressed with https://github.com/nats-io/gnatsd/pull/372

[2016-11-15 23:03] #370 closed

[2016-11-16 13:32] altSoftLLC opened #375 "publication with wildcard not working"
Trying 127.0.0.1...
Connected to localhost.
Escape character is '^]'.
INFO {"server_id":"e9G1oMHqgyqwynQwtiJqPM","version":"0.9.4","go":"go1.7.3","host":"0.0.0.0","port":4222,"auth_required":false,"ssl_required":false,"tls_required":false,"tls_verify":false,"max_payload":1048576}
sub foo.bar 90
+OK

Trying 127.0.0.1...
Connected to localhost.
Escape character is '^]'.
INFO {"server_id":"e9G1oMHqgy

[2016-11-16 16:10] derekcollison commented on #375
You can only subscribe to wildcards. Publishing to wildcards is not supported.

[2016-11-16 16:10] #375 closed

[2016-11-21 19:33] vkhorozvs commented on #370
@kozlovic could you tell me when do you plan to cut a new release version including this patch ?

[2016-11-22 14:35] monopollly opened #380 "Hardware advice for best performance?"
Could you please write a hardware preferences for nats...

something like this:
https://www.elastic.co/guide/en/elasticsearch/guide/current/hardware.html

Thanks!

[2016-11-22 16:17] ninoles opened #381 "Last version (master doesn't compile on Windows anymore)"
This is because of the pull request #379, which used a syscall.SIGUSR1, which doesn't exist on Windows.

Could this be conditionally compile for Windows ?

[2016-11-22 17:40] mcqueary commented on #380
Thanks for the great suggestion! I'm moving this over to the nats-io/nats-site issues list.

[2016-11-22 17:40] mcqueary commented on #380
This issue was moved to nats-io/nats-site#187

[2016-11-22 17:40] #380 closed

[2016-11-22 17:56] mcqueary commented on #371
@riaan53 Great question. We're working on a solution for the example scenario you've cited here (see #338), but as of right now, there's no way to do this perfectly with NATS. You can remove the NATS instance, and if they are configured correctly, that instance's clients will seamlessly fail over to other cluster members. The supported NATS clients will buffer outgoing (published) messages during

[2016-11-22 17:59] derekcollison commented on #381
Will take a look later today, thanks.

[2016-11-22 18:03] riaan53 commented on #371
Hi @mcqueary, Thank you for the feedback. I will have a look at the forum and keep an eye on #338 .

Thank you for the great product!

Feel free to close the issue.

[2016-11-22 18:04] #371 closed

[2016-11-22 23:28] #381 closed

[2016-11-22 23:29] derekcollison commented on #381
Should be good now in master.

[2016-11-23 00:49] ninoles commented on #381
Thanks very much!  That was fast!

[2016-11-23 16:00] kozlovic commented on #361
I think this is addressed with PR #378. Closing now.

[2016-11-23 16:00] #361 closed

[2016-11-28 04:35] tamnm opened #384 "Extreamly slow when send message to multiple Topics (300) for first time"
Hi,
I did a test and result is weird. Please take a look

1. I created 300 subscription that subscribed  300 Topic.
2. I Publish 1 message to each Topic.
3. Wait for all subscriptions receive first message.
    (takes over **290,000ms** to send 300 messages to 300 Topics (1 message per Topic))
4. Send 10 messages to each Topic
5. wait for all subscription receive 10 messages
    (take 7ms) (takes

[2016-11-28 05:55] tamnm commented on #384
I found out this is not gnatsd issue. It's #csharp-nats Issue

[2016-11-28 05:55] #384 closed

[2016-11-28 20:47] cdevienne commented on #357
https://github.com/sohlich/nats-proxy/ looked more mature last time I checked.

[2016-11-29 09:56] firebook commented on #369
It's not possible. Our team found this issue too. And after read the source code, we found it is difficult to extend.

Hope nats will support it in the future.

[2016-11-29 14:41] derekcollison commented on #369
So I do not assume, exactly what is trying to be achieved? If you force client auth through TLS today you essentially have it such that a CA needs to issue a valid cert for clients in order to connect to NATS. What do you wish in addition to this?

[2016-11-30 22:49] aricart opened #386 "max_connection is not honored"
The max_connections setting is getting loaded (reported by /varz), but its limit is not enforced.
I made a test case here: <https://github.com/nats-io/gnatsd/tree/max_connection_test>

[2016-12-01 16:03] #386 closed

[2016-12-01 19:39] jared-mackey opened #390 "Datadog Integration"
Would be very nice to have a datadog integration if one does not exist already. (I couldn't find one)

Might be useful to have #351 for this.

[2016-12-01 19:41] mackeyja92 opened #391 "Subscriber management interface"
Is there plans in the future to make a management interface to manage streaming subscribers? For example, no where in my code do I unsub because I mostly intend to restart the client and continue on with my durable queue.

When decommissioning nodes and no longer care about restarting their clients we don’t want NATS tracking those subscribers anymore and taking up resources. We could write a scri

[2016-12-01 20:05] ckeeney opened #392 "Bareword in call to gnatsd causes it to ignore other params."
If you call `gnatsd bareword -cluster nats://:6222`, nats will still start, but it will ignore the `-cluster` arg (or any other args).  This leads to confusing behavior and I think it would be better if nats just exited with an error in this case.

For example, the second revision of this gist works as expected, the first revision of this gist still starts, but does not cluster:

https://gist.gith

[2016-12-01 20:35] mcqueary commented on #392
To be more specific, it may mask problems with command line construction, making such problems harder to debug, and lets users think they're running `gnatsd` with their desired options, even if they accidentally omitted the dash in front of one or more flags. IMO, the "fail fast" best practice applies to command lines as much as anywhere else.

[2016-12-01 23:24] derekcollison commented on #391
This would be better posted in https://github.com/nats-io/nats-streaming-server

[2016-12-01 23:24] #391 closed

[2016-12-02 02:30] #392 closed

[2016-12-03 04:50] etopian commented on #338
+1 to be able to use the API to change authentication config. it would make implementing applications that dynamically add and remove users much simpler than trying to modify the config file. if you could publish to a subject to change config it's even better because you could do auth for the web app managing that in the file and then modify the other stuff using any client.

[2016-12-04 18:50] drasko opened #396 "Dockerize Unstable for New NATS Verzion"
We at [Mainflux](https://github.com/mainflux/mainflux) use NATS within [Docker composition](https://github.com/mainflux/mainflux/blob/master/docker-compose.yml) and services wait for it to be available using [Dockerize](https://github.com/jwilder/dockerize): https://github.com/mainflux/mainflux-core/blob/master/Dockerfile#L37-L43

Dockerize detects that NATS is up while listening to TCP port 4222.

[2016-12-04 18:55] kozlovic commented on #396
@drasko Do you specify max_connections in the config? If not, then the change should have no effect since the change in server code checks for `s.opts.MaxConn > 0`.

Instead, there has been some changes to detect incorrect command line parameters. It could be that you are actually passing incorrect parameters which would have before not complain but ignore the other parameters in command line? See

[2016-12-04 18:58] kozlovic commented on #396
Also check [Issue 392](https://github.com/nats-io/gnatsd/issues/392)

[2016-12-04 19:00] lenovouser commented on #396
You're using an outdated image. The last push to **[apcera/gnatsd](https://hub.docker.com/r/apcera/gnatsd/)** was over a year ago. They have switched to the official repository at **[_/nats](https://hub.docker.com/r/_/nats/)** which also has newer tags available (the lastest release is `v0.9.4`).

[2016-12-04 19:04] drasko commented on #396
Wow, quick responses ;). Thanks.

@kozlovic I do not know what Dockerize uses, but I think it just tries to open the TCP socket, and that's all.

@lenovouser I am trying _/nats image now...

[2016-12-04 19:05] drasko commented on #396
And with nats:latest it works like a charm.

Thanks, closing the issue.

[2016-12-04 19:05] #396 closed

[2016-12-04 19:06] kozlovic commented on #396
@drasko I had noticed the reference to `apcera/gnatsd` but assumed that you used this one as a test. As @lenovouser stated, `apcera/gnatsd` is no longer maintained.

[2016-12-04 19:09] kozlovic commented on #396
@drasko Glad to know that latest works as expected. By the way, the docker image is `0.9.4` from last august and therefore none of the commits referenced in this issue are relevant since they are in master but not in `0.9.4`.

[2016-12-05 20:11] riaan53 opened #397 "Build error on master with GO 1.8beta"
Hi,

Im getting the following build errors after commit 843d845 on go1.8beta1 darwin/amd64. It is successful on 843d845 itself.

[code]

btw some nice performance increases on GO 1.8beta

[2016-12-06 16:40] ColinSullivan1 commented on #397
@riaan53 , Looks like this was fixed in https://github.com/nats-io/gnatsd/commit/606f8e95f76e8b320a238efb908569e775c921ac; master branch builds clean for me with 1.8 beta 1.  Can you checkout master give it another shot?

[2016-12-06 16:55] riaan53 commented on #397
Perfect! Sorry for false alarm :)

[2016-12-06 16:55] #397 closed

[2016-12-08 17:06] kozlovic opened #399 "PR #398 no longer triggers coverage/release"
See last build for: [1.7.4](https://travis-ci.org/nats-io/gnatsd/jobs/181821670#L788)
Notice that code coverage was not started. Would be the same issue for cross compilation.

[2016-12-08 21:16] #399 closed

[2016-12-08 22:51] 1N50MN14 commented on #369
+1 I was just about to open a similar issue I've been trying to "hack" my way around this for some time.

@derekcollison The use case would be time limited, token based authentication for devices similar to what Azure IoT Hub offers (nm the fancy name for MQTT: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-security, scroll down to Security tokens). It's also common with some of t

[2016-12-09 18:24] derekcollison commented on #369
Currently my plan is to allow the configuration file to be updated and reloaded, similar to nginx, without downtime. We have been considering proposals similar to this but have not made a determination as of yet to whether or not we want to move forward.

[2016-12-09 19:39] 1N50MN14 commented on #369
@derekcollison Thanks for the feedback, yes I've seen the hot reload proposal. This would work in most cases but if you have a large number of devices connecting on demand a more dynamic approach is required imho. Imagine thousands of sensors connecting and disconnecting at any given time for any reason, which is the nature of many IoT projects more so devices that rely on 3G/4G connections etc. M

[2016-12-09 19:43] qrpike commented on #369
Agreed it would be really nice to not have to hotreload constantly.

On December 9, 2016 at 2:39:30 PM, Ayman Mackouly (notifications@github.com)
wrote:

[2016-12-09 19:53] derekcollison commented on #369
My belief is that in the sensor case, you would use an intermediate CA that is configured once in the nats-server, and generate client certificates as needed that are required to properly connect to the nats-server. We need to do some work on revocation for sure, but this is possible today.

For now, and by design, the HTTP endpoints are read-only. Adding "write" capabilities to them presents some

[2016-12-09 19:57] qrpike commented on #369
Is it not possible to take the approach docker registry does, where it uses
a separate service to do auth? What way you can have several or any number
of custom auth providers.

On December 9, 2016 at 2:53:49 PM, Derek Collison (notifications@github.com)
wrote:

[2016-12-09 20:16] derekcollison commented on #369
We could take many different approaches. I am committed to the configuration reload, still evaluating any write state changes via HTTP or a similar API endpoint.

[2016-12-09 20:22] 1N50MN14 commented on #369
@derekcollison The HTTP endpoint is merely an external service, it stops being gnatsd responsibility to handle writes. The only difference is that authentication tokens are checked against  an HTTP response code (200 OK / 401 Unauthorized). This would allow for *any* approach, gnats simply outsources this responsibility.

[2016-12-09 20:25] qrpike commented on #369
Precisely!! You did better explaining it lol

On December 9, 2016 at 3:22:45 PM, Ayman Mackouly (notifications@github.com)
wrote:

[2016-12-13 14:29] qrpike commented on #369
@derekcollison Any updates on consideration for this approach? Would be *VERY* much appreciated.

[2016-12-13 14:32] 1N50MN14 commented on #369
https://vernemq.com/docs/plugindevelopment/webhookplugins.html <-- perfect reference

[2016-12-14 04:19] derekcollison commented on #369
Have not had a chance to revisit yet. But I think I understand better what the thread is suggesting.

[2016-12-16 06:06] etopian commented on #369
pretty much must-have for this sort of product. otherwise the number of use cases for this product are severely limited by this functionality not existing.

[2016-12-16 19:39] jfathman opened #404 "Official .deb / .rpm packages for gnatsd"
It would be great if NATS provided official Debian (and RPM?) packages for gnatsd.  Just add the NATS repo to the apt sources list on an x86 server or RPi ARM IoT device, and 'apt-get install gnatsd'.  Would start gnatsd as a service using default config.  Would auto start on reboot.  Would log gnats meta activity to a standard location.

Users of gnatsd (outside Docker) must be making their own d

[2016-12-16 21:17] JensRantil opened #405 "Document what "slow consumer" means and how to deal with them"
I just did a basic benchmark of gnatsd locally on my machine and was seeing a slow consumer.

http://nats.io/documentation/server/gnatsd-prune/ mentions "slow consumer" but doesn't really documents when a consumer is considered slow. Preferably, it should also document how to cope with it. Are there any configuration to allow a NATS server to buffer more messages? #217 mentions some strategies.

[2016-12-16 21:34] JensRantil commented on #405
Okay, I have been digging into this a bit further. Turns out my "slow consumer" message came out of go-nats library and not the server. That said, I think it would be useful for newbies like me to state that both clients and server can mark something as "slow consumer" and under what circumstances (if possible for generalize of course).

[2016-12-16 22:51] JensRantil opened #406 "Clarify a NATS queue is fire-and-forget"
https://groups.google.com/d/msg/natsio/h-phVwNZTGA/6kubryIaDgAJ states that a NATS queue is "fire-and-forget". A common scenario to use a "queue" is to distribute work among workers in such was that work is distributed faster to the faster worker. Essentially, the worker pull tasks from the queue. This is not the case in core NATS. I propose this is documented in http://nats.io/documentation/conce

[2016-12-19 20:21] JensRantil commented on #345
A good start would be to simply expose the same metrics that can now be accessible over HTTP over the Prometheus format. Doesn't have to be complicated at all.

[2016-12-20 02:12] heijiu opened #407 "monitor subjects"
How to quickly list subjects and monitor every subject count??

[2016-12-20 04:51] derekcollison commented on #407
http://nats.io/documentation/server/gnatsd-monitoring/

/subz might help.

[2016-12-20 04:51] #407 closed

[2016-12-20 18:42] joelanford opened #408 "i/o timeout error connecting to newly discovered routes using Kubernetes"
**Setup:**
- Kubernetes 1.5.1 provisioned using kubeadm with the weave pod network add-on
- Kubernetes headless service called `nats`
- StatefulSet called `nats`
  - Image: `nats:0.9.6`
  - Replica Sets: 3
  - Entrypoint: `/gnatsd --cluster=nats://$(POD_IP):6222 --routes=nats://nats-0.nats:6222 --http_port=8222 -D`.
    - `$(POD_IP)` is filled in using the downward API.

**Description:**
In a thre

[2016-12-20 23:12] kozlovic commented on #408
@joelanford Thank you for the very detailed report. I am working on this.

[2016-12-21 17:22] arekkas commented on #369
Please absolutely implement an API, config files are really tricky in cloud environments and actually against 12factor principles.

I also need to update auth* on the fly, as new users sign up.

[2016-12-21 19:25] arekkas opened #410 "NATS middleware"
Most of you probably know what a middleware is all about. It could make a lot of use cases really easy, if we were able to define middlewares in NATS. We could, for example:

* Inspect the payload to decide if the requestee is allowed to publish (or subscribe) to the message
* Transform the payload to, for example, make debugging easier
* Log all messages for replay

Of course, the middleware woul

[2016-12-22 01:27] derekcollison commented on #369
Being able to update users, auth and permissions on the fly will come with config reload functionality similar to NGINX.

[2016-12-22 03:56] qrpike commented on #369
@derekcollison So there will NOT be an option to use an external service as the authentication layer?

[2016-12-22 08:28] arekkas commented on #369
I don't think reloading config files is enough. After all, NATS is a message solution for cloud environments, and config files clearly contradict 12 factor principles, which are often required to get things working on PaaS such as heroku or cloud foundry or even kubernetes. It might work on a baremetal machine where I can start 10 services and tightly couple those things together, but its much har

[2016-12-22 08:30] etopian commented on #369
Having to reload every time a new user signs up on your website is an incredibly poor user experience... and prone to failure. Nginx does not always reload. You have to reload it and pray that it comes back up. Mistakes can be made in the configuration files. A lot can go wrong. All in all an API is necessary.

[2016-12-22 16:30] derekcollison commented on #369
@arekkas Config files and reloading them and having a single truth for config is well understood. I am not saying we would not consider an API, but I am not sure you have thought completely through the operational aspects of an API. We will keep researching, but we are committed to config changes and atomic, no downtime reloads via single, like NGINX.

[2016-12-22 16:31] derekcollison commented on #369
@etopian I am pretty sure you can easily automate things like new users etc. Mistakes happen when humans are part of the process. Eliminating them is the solution, does not require an API per se.

[2016-12-22 16:32] derekcollison commented on #369
@qrpike Not saying that, just still researching. After all, once anything is released, the team here is tasked with supporting it more or less for life. So prudence and thinking through these is important.

[2016-12-22 19:57] joelanford commented on #408
Thanks @kozlovic! This looks like it will solve the issue. I assume this new config item need to be exposed in the nats-streaming-server project as well?

[2016-12-22 19:59] kozlovic commented on #408
It will when vendor will be updated for the next release. That being said, there is very little value of this with streaming since as of now, streaming does not support clustering.

[2016-12-22 22:21] #408 closed

[2016-12-24 09:51] arekkas commented on #369
While we're at it, a middleware as described in #410 could potentially separate concerns and give everyone the solution they are looking for.

[2016-12-27 03:58] qrpike commented on #369
@derekcollison configuration via flat files makes 100% complete sense, and I totally agree, just the user management combined with service configuration is more what I'm talking about.

Having a single user/auth service lets a micro service architecture have a single point of truth for user auth & permissions. If every micro service requires a user permissions config file to be written, on every u

[2016-12-30 15:54] derekcollison commented on #369
If user/auth or permissions is completely outsourced so to speak, that sounds like a reasonable alternative. Will address in early 2017. Thanks for the patience.

[2016-12-30 15:58] arekkas commented on #369
Awesome that you are considering this!

[2016-12-31 15:52] glycerine commented on #406
@JensRantil: To me, the correct description of gnatsd is really as a "send-and-pray" system (like Erlang), whereas "fire-and-forget" is the exact opposite of what gnatsd provides.  There is nothing derogatory in these poetic descriptions. For an event-oriented system, like gnatsd -- that doesn't want to be shut down by slow consumers -- send-and-pray is most appropriate.

 My understanding of "fir

[2017-01-03 16:02] glycerine opened #414 "use monotonic time source"
Given this:
https://blog.cloudflare.com/how-and-why-the-leap-second-affected-cloudflare-dns/

and the current state of the time.Now() call not being monotonic:
https://github.com/golang/go/blob/29cb72154d3bb3530d8092cc89d35b3ed4f7e9c5/src/runtime/sys_linux_amd64.s#L147

you may wish to prefer this:
https://github.com/glycerine/monotime

and replace calls to `time.Now()` with `time.Unix(0, int64(mo

[2017-01-04 00:24] derekcollison commented on #414
I read the other thread between you and @kozlovic. Will take a look in case we make an assumption, but do not think a change to the library you mention is required at this time. I do appreciate the issue however.

[2017-01-04 00:24] #414 closed

[2017-01-04 20:10] pires commented on #408
@joelanford I'm curious, what container image are you using?

[2017-01-05 02:50] joelanford commented on #408
@pires, I was using the official `nats:0.9.6` image from Docker Hub.

[2017-01-05 08:08] pires commented on #408
What readiness probe did you provide? I'm curious to know what happens when NATS runs OK and is marked as `Ready` but the proper routes may not be in place, due to misconfiguration or something else like networking issues.

[2017-01-05 21:33] joelanford commented on #408
No readiness probes at all.

I think what you're curious about pretty much describes what I'm seeing.  Everything seems to start just fine and all hosts are able to find the explicit route to nats-0. It's just that the implicit route connections fail for a new NATS cluster member because other pods don't have a network route to the new member in place by the time registration notification is recei

[2017-01-05 21:58] kozlovic commented on #408
By the way, have you had a chance to test with the new `--connect_retries` parameter to see if it solves the issue?

[2017-01-10 17:43] mahmed8003 commented on #369
Previously I was using https://github.com/mcollina/aedes for messaging (pub/sub), nats attracted me because it have req/replay and it is simple. In Aedas for authorization and authentication we have methods like this(copied from documentation):

**instance.authenticate(client, username, password, done(err, successful))**
It will be called when a new client connects. Override to supply custom authe

[2017-01-12 10:36] maxatome commented on #338
At least, the automatic detection that TLS certificates changed on disk would be great, see https://diogomonica.com/2017/01/11/hitless-tls-certificate-rotation-in-go/

[2017-01-12 12:57] soulne4ny commented on #410
Isn't it just the same as making 2 subjects – foo-raw and foo-filtered? Then middleware is just a usual client that moves entries from one to another.

[2017-01-12 15:55] tylertreat-wf commented on #410
gnatsd could also use Go plugins, which are coming in go1.8 for linux and 1.9 for darwin/windows (https://tip.golang.org/pkg/plugin/).

[2017-01-12 23:55] arekkas commented on #410
True

[2017-01-17 05:22] qrpike commented on #369
@derekcollison Any updates or plans for this? Trying to plan out our systems development timeline. If I knew Go better I would love to help with this, but I don't think you want me touching your nice code lol

[2017-01-17 20:25] derekcollison commented on #369
I think the general identity problem could be solved with a simple API/Plugin model. I am more concerned at this point on auth, which is performance critical. I am considering, but as work finalizes on config file updates and reload, I wonder if tooling around supporting that path makes more sense.

[2017-01-20 19:19] mceaglens opened #422 "Knowing that there is no subscriber"
Is it possible to know (or easy to implement) that there is no subscriber on a certain subject?
If I haven't misunderstand to much, wouldn't it be easy for the nats server (to which we send the
publish message) to answer with an error if there is no subscriber to a certain subject? If there is no local subscriber nor a route that is interested in the subject it would be quite easy to answer someth

[2017-01-20 19:55] ColinSullivan1 commented on #422
Hi @mceaglens ,

By its nature, NATS is "fire and forget", so functionality like this hasn't been implemented in the server.  Instead, applications can implement this easily with request/reply.  You can make a request to the subject in question, with a timeout.  When a subscriber on the subject in question receives a message with a reply subject, it replies.  If the request times out, you'll know

[2017-01-21 15:40] mceaglens commented on #422
Hi,
We use request/reply with timeout but have problem selecting the optimal timeout. It is a trade off between fast response time and waiting for time consuming actions or system at high load. That is why I examine if it would be possible to get some immediate indication from the server that there is no subscriber.

If I understood correctly it should be possible by the server to give this inform

[2017-01-22 02:09] kozlovic commented on #422
@mceaglens Yes, it is easy for the server to know, but how can it "reply" to the sender? In the case of a request/reply, the reply that you provide is attached to a subscription that you have (or the `Request()` call has) created. If the server was to send a reply to that, it will be presented to the user callback. That can't be right.

In other words, without a protocol change, this is not possib

[2017-01-23 07:34] mceaglens commented on #422
ok, I agree, thanks.

[2017-01-23 07:34] #422 closed

[2017-01-26 06:06] wenzheng commented on #369
@qrpike We had the similar use case in our organization for this external authentication/authorization, and we managed to implement the feature based on our own requirement.

In general we use NATS broker to expose our internal data to different end user applications, so in general we implemented 2 things:

  1. Oauth token based authentication with our own Oauth server.
  2. Since we have a lot o